<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akonadi-23.03.80.tar.xz">akonadi-23.03.80</a></td>
   <td align="right">1628kB</td>
   <td><tt>430622200d08f2a4d7c3688f3d0e8f88a13c9431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akonadi-calendar-23.03.80.tar.xz">akonadi-calendar-23.03.80</a></td>
   <td align="right">401kB</td>
   <td><tt>4359a5b05d2fc13b9d111d453c8b47e2b9c2b6ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akonadi-calendar-tools-23.03.80.tar.xz">akonadi-calendar-tools-23.03.80</a></td>
   <td align="right">248kB</td>
   <td><tt>a744a87898621a7f757c068ceb2043366a074920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akonadiconsole-23.03.80.tar.xz">akonadiconsole-23.03.80</a></td>
   <td align="right">256kB</td>
   <td><tt>664e29b21bd99cfab742f0db58dfd43555d757ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akonadi-contacts-23.03.80.tar.xz">akonadi-contacts-23.03.80</a></td>
   <td align="right">432kB</td>
   <td><tt>1d74f6422af33806d6d494460e471566f29bb86f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akonadi-import-wizard-23.03.80.tar.xz">akonadi-import-wizard-23.03.80</a></td>
   <td align="right">502kB</td>
   <td><tt>cc81e60c881b9350dcdefddeb79284c88f946eea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akonadi-mime-23.03.80.tar.xz">akonadi-mime-23.03.80</a></td>
   <td align="right">151kB</td>
   <td><tt>a14e7ac8c92b05ef2cc9b5f604689f8daf451706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akonadi-notes-23.03.80.tar.xz">akonadi-notes-23.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>65fed3b36d09cfe5e03cd8a1bef3f669413f250e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akonadi-search-23.03.80.tar.xz">akonadi-search-23.03.80</a></td>
   <td align="right">99kB</td>
   <td><tt>ba85862770fd9fc53e0ad828b910e12ab859b76f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/akregator-23.03.80.tar.xz">akregator-23.03.80</a></td>
   <td align="right">2269kB</td>
   <td><tt>da653cbc7c6bb31242cd197b987c751b7bd849b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/alligator-23.03.80.tar.xz">alligator-23.03.80</a></td>
   <td align="right">184kB</td>
   <td><tt>eb95b4ad88bed8a16a665b0dbc781a1b450fc6cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/analitza-23.03.80.tar.xz">analitza-23.03.80</a></td>
   <td align="right">344kB</td>
   <td><tt>3d06f2b067955c65d8a0844f86e55862e6fc2ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/angelfish-23.03.80.tar.xz">angelfish-23.03.80</a></td>
   <td align="right">237kB</td>
   <td><tt>26fe82dd0d5d1ee985b7c5a5a4274b9e222dba53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ark-23.03.80.tar.xz">ark-23.03.80</a></td>
   <td align="right">2935kB</td>
   <td><tt>de7007b22b142a96332386783bd80c303a84f7af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/artikulate-23.03.80.tar.xz">artikulate-23.03.80</a></td>
   <td align="right">1068kB</td>
   <td><tt>d856172fb9512566689bed024021d7d6a31d5260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/audiocd-kio-23.03.80.tar.xz">audiocd-kio-23.03.80</a></td>
   <td align="right">548kB</td>
   <td><tt>7f8e5b63f4121341b22e97f61e04302e013ad698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/audiotube-23.03.80.tar.xz">audiotube-23.03.80</a></td>
   <td align="right">106kB</td>
   <td><tt>e16ab863379533113c10d398af81be219413bcb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/baloo-widgets-23.03.80.tar.xz">baloo-widgets-23.03.80</a></td>
   <td align="right">269kB</td>
   <td><tt>4777d529d2b4eaf96102a0dc6512ab3d82cb0b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/blinken-23.03.80.tar.xz">blinken-23.03.80</a></td>
   <td align="right">2659kB</td>
   <td><tt>f39bb8b267c6e15445a42176a882a8a46403b1b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/bomber-23.03.80.tar.xz">bomber-23.03.80</a></td>
   <td align="right">818kB</td>
   <td><tt>c7e4d6b2114f877c8dcb4155cc2b31a2c0db474b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/bovo-23.03.80.tar.xz">bovo-23.03.80</a></td>
   <td align="right">209kB</td>
   <td><tt>b7a1a57fb8a0e4664b93819f8544d6bc698fd3f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/calendarsupport-23.03.80.tar.xz">calendarsupport-23.03.80</a></td>
   <td align="right">965kB</td>
   <td><tt>675e428483b12ab0e5655bec29b6fa1c8b6d2f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/calindori-23.03.80.tar.xz">calindori-23.03.80</a></td>
   <td align="right">372kB</td>
   <td><tt>703a268e6b2f7611b2c93b7757fd99596fbe529e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/cantor-23.03.80.tar.xz">cantor-23.03.80</a></td>
   <td align="right">9048kB</td>
   <td><tt>6ebc669dc792923d018b01f7e583160c9e3d7bd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/cervisia-23.03.80.tar.xz">cervisia-23.03.80</a></td>
   <td align="right">1898kB</td>
   <td><tt>5f178522a3dfc4b9c41a305b56727d8e61a003bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/colord-kde-23.03.80.tar.xz">colord-kde-23.03.80</a></td>
   <td align="right">104kB</td>
   <td><tt>8894b2bea3ce04a749d2b58fcef2c6d2f87dcf82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/dolphin-23.03.80.tar.xz">dolphin-23.03.80</a></td>
   <td align="right">5587kB</td>
   <td><tt>f571dcfff00aa6023540455924b2c780a4be6d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/dolphin-plugins-23.03.80.tar.xz">dolphin-plugins-23.03.80</a></td>
   <td align="right">266kB</td>
   <td><tt>82179100e973ac89aa303696e034324ae3df978e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/dragon-23.03.80.tar.xz">dragon-23.03.80</a></td>
   <td align="right">1627kB</td>
   <td><tt>37b8c0b7101473f85c84d84b986b39b039a50d9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/elisa-23.03.80.tar.xz">elisa-23.03.80</a></td>
   <td align="right">1767kB</td>
   <td><tt>0935293e473e674e7538e166d18257968b87c2dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/eventviews-23.03.80.tar.xz">eventviews-23.03.80</a></td>
   <td align="right">453kB</td>
   <td><tt>c7c1310d50d802327175477f47063c1058e51226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/falkon-23.03.80.tar.xz">falkon-23.03.80</a></td>
   <td align="right">2492kB</td>
   <td><tt>aff2343e46f962c976d4a30536fa1b5d6472cb38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ffmpegthumbs-23.03.80.tar.xz">ffmpegthumbs-23.03.80</a></td>
   <td align="right">31kB</td>
   <td><tt>9b871cf5b2a2c0e5d3f7b80b05085113e577e71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/filelight-23.03.80.tar.xz">filelight-23.03.80</a></td>
   <td align="right">679kB</td>
   <td><tt>185d66a40399d7361b32e804dff376c5b5b7bcdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ghostwriter-23.03.80.tar.xz">ghostwriter-23.03.80</a></td>
   <td align="right">2989kB</td>
   <td><tt>3f48a3aabf6a14c7a880e6f2ed52b8e96eb4a2a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/granatier-23.03.80.tar.xz">granatier-23.03.80</a></td>
   <td align="right">2062kB</td>
   <td><tt>9f332868f151f6ef346656722d70fc5f38eb299b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/grantlee-editor-23.03.80.tar.xz">grantlee-editor-23.03.80</a></td>
   <td align="right">114kB</td>
   <td><tt>5e490e0a790140e10900e9951f2f268057e678e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/grantleetheme-23.03.80.tar.xz">grantleetheme-23.03.80</a></td>
   <td align="right">61kB</td>
   <td><tt>89c9267a231d861b0e94c09ad098ac6e3ce1e2ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/gwenview-23.03.80.tar.xz">gwenview-23.03.80</a></td>
   <td align="right">6728kB</td>
   <td><tt>1206a9d06465b842ed67fab300a0a53c81ee858b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/incidenceeditor-23.03.80.tar.xz">incidenceeditor-23.03.80</a></td>
   <td align="right">556kB</td>
   <td><tt>3e81ff3831ed432c8c95244857b380e01551e475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/itinerary-23.03.80.tar.xz">itinerary-23.03.80</a></td>
   <td align="right">564kB</td>
   <td><tt>5b7a112f0a304b9fcfab9d03b7fcd8af68dbf291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/juk-23.03.80.tar.xz">juk-23.03.80</a></td>
   <td align="right">2031kB</td>
   <td><tt>06916887b295d6509e9a18865211a61c536ce8d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/k3b-23.03.80.tar.xz">k3b-23.03.80</a></td>
   <td align="right">10693kB</td>
   <td><tt>e8f10389de7bd09f74eb5579ada6fba216e1833c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kaccounts-integration-23.03.80.tar.xz">kaccounts-integration-23.03.80</a></td>
   <td align="right">86kB</td>
   <td><tt>6053c37b9480987be9cb3659cd7a9eacf0ffd0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kaccounts-providers-23.03.80.tar.xz">kaccounts-providers-23.03.80</a></td>
   <td align="right">64kB</td>
   <td><tt>b63377994f5e68674b3579774563cb9d72c08c88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kaddressbook-23.03.80.tar.xz">kaddressbook-23.03.80</a></td>
   <td align="right">3376kB</td>
   <td><tt>7913636db9a02bb20800be83ab6cc39656406669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kajongg-23.03.80.tar.xz">kajongg-23.03.80</a></td>
   <td align="right">4470kB</td>
   <td><tt>08acd13a66c1c0e0b47c92fe838fd216e9b72ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kalarm-23.03.80.tar.xz">kalarm-23.03.80</a></td>
   <td align="right">2527kB</td>
   <td><tt>c7165e9a07cfb44deae5fe946216b8fae1ce8f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kalendar-23.03.80.tar.xz">kalendar-23.03.80</a></td>
   <td align="right">798kB</td>
   <td><tt>0b832fc741ba007eee4d16637059a072bdefe2ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kalgebra-23.03.80.tar.xz">kalgebra-23.03.80</a></td>
   <td align="right">1012kB</td>
   <td><tt>5015dcf38af12585728807924931960b89f4d265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kalk-23.03.80.tar.xz">kalk-23.03.80</a></td>
   <td align="right">81kB</td>
   <td><tt>c6cac4878bfbae7d2f24ba6469d105a5a868a2c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kalzium-23.03.80.tar.xz">kalzium-23.03.80</a></td>
   <td align="right">24067kB</td>
   <td><tt>698b32ad0d4d2b4a5407c0e3c9507f321e4c7994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kamera-23.03.80.tar.xz">kamera-23.03.80</a></td>
   <td align="right">126kB</td>
   <td><tt>177c5c5d4431e697b41eb7a4efdcaaafe3cda9ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kamoso-23.03.80.tar.xz">kamoso-23.03.80</a></td>
   <td align="right">225kB</td>
   <td><tt>a2742e7bf8532386aba0ffeada59cd89aa32b26c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kanagram-23.03.80.tar.xz">kanagram-23.03.80</a></td>
   <td align="right">7873kB</td>
   <td><tt>61a148e4dddb0dda1ac837971a491f6033ac076c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kapman-23.03.80.tar.xz">kapman-23.03.80</a></td>
   <td align="right">2422kB</td>
   <td><tt>0787097b6f1a9ea912354e88c6e2c9ea19b6cfdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kapptemplate-23.03.80.tar.xz">kapptemplate-23.03.80</a></td>
   <td align="right">330kB</td>
   <td><tt>16a4d96f6178aa67ad3a6bb477fd3062230b9e58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kasts-23.03.80.tar.xz">kasts-23.03.80</a></td>
   <td align="right">529kB</td>
   <td><tt>300212995df2ef5ea2aea7ff00537a3d371c98db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kate-23.03.80.tar.xz">kate-23.03.80</a></td>
   <td align="right">7791kB</td>
   <td><tt>ce0d667992bc1170d3e10f7bf7db027c600337b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/katomic-23.03.80.tar.xz">katomic-23.03.80</a></td>
   <td align="right">1417kB</td>
   <td><tt>45629a6df3660acc72a0bb3d069eda9beac4f4a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kbackup-23.03.80.tar.xz">kbackup-23.03.80</a></td>
   <td align="right">387kB</td>
   <td><tt>f3908f11f881561128859ce14d1f5bdca20f2940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kblackbox-23.03.80.tar.xz">kblackbox-23.03.80</a></td>
   <td align="right">537kB</td>
   <td><tt>6e546d29fcd039fcfbecfead58452114f358ec20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kblocks-23.03.80.tar.xz">kblocks-23.03.80</a></td>
   <td align="right">2058kB</td>
   <td><tt>d06e3c6e2436efcd7eca2e43e624a63db7b22da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kbounce-23.03.80.tar.xz">kbounce-23.03.80</a></td>
   <td align="right">3460kB</td>
   <td><tt>f11be6150435899d3403a86ac75311b347e390e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kbreakout-23.03.80.tar.xz">kbreakout-23.03.80</a></td>
   <td align="right">2499kB</td>
   <td><tt>ca3b3dc2b9a97dc0d545694ebb06eae903bc548b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kbruch-23.03.80.tar.xz">kbruch-23.03.80</a></td>
   <td align="right">5523kB</td>
   <td><tt>e4493592dd7d009e64b52bcba76a56c2a5dd861b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kcachegrind-23.03.80.tar.xz">kcachegrind-23.03.80</a></td>
   <td align="right">896kB</td>
   <td><tt>a5ce7859b4e881c80896c23365b5acb5c2e2149c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kcalc-23.03.80.tar.xz">kcalc-23.03.80</a></td>
   <td align="right">425kB</td>
   <td><tt>3505319a942c29950aeff7ab39f0eb891062745e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kcalutils-23.03.80.tar.xz">kcalutils-23.03.80</a></td>
   <td align="right">350kB</td>
   <td><tt>f19dcaac298e703b38c19eb12b7974bc434d76b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kcharselect-23.03.80.tar.xz">kcharselect-23.03.80</a></td>
   <td align="right">373kB</td>
   <td><tt>498d4ff9d67e9d5d34c8b00925344315f8ac5484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kclock-23.03.80.tar.xz">kclock-23.03.80</a></td>
   <td align="right">708kB</td>
   <td><tt>2285831667d9ddce57f9a45cf46ce5f26a104d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kcolorchooser-23.03.80.tar.xz">kcolorchooser-23.03.80</a></td>
   <td align="right">32kB</td>
   <td><tt>b4e6c10fe17f8c9b181c955aacebc251d0a6f813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kcron-23.03.80.tar.xz">kcron-23.03.80</a></td>
   <td align="right">920kB</td>
   <td><tt>5dacf4a08a881008a7415d8074bdea87cd1f4690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdebugsettings-23.03.80.tar.xz">kdebugsettings-23.03.80</a></td>
   <td align="right">95kB</td>
   <td><tt>1d981204a02c6869f9d5a29cb3f63f58b773bb80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdeconnect-kde-23.03.80.tar.xz">kdeconnect-kde-23.03.80</a></td>
   <td align="right">633kB</td>
   <td><tt>e3bd943b8b1afed9e5c288bea66be756f89e9f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kde-dev-scripts-23.03.80.tar.xz">kde-dev-scripts-23.03.80</a></td>
   <td align="right">364kB</td>
   <td><tt>20c6fecc4a7cb9b141e62ba3f8a866181077210e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kde-dev-utils-23.03.80.tar.xz">kde-dev-utils-23.03.80</a></td>
   <td align="right">70kB</td>
   <td><tt>03cc96f025e9ddd01898b14549738ee26e2cc587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdeedu-data-23.03.80.tar.xz">kdeedu-data-23.03.80</a></td>
   <td align="right">325kB</td>
   <td><tt>068cdda61ccd2cd032a5ff2091543a30ee7eac3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdegraphics-mobipocket-23.03.80.tar.xz">kdegraphics-mobipocket-23.03.80</a></td>
   <td align="right">12kB</td>
   <td><tt>5a6d1f86bf57674129ef64b3e89fcd0b377433e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdegraphics-thumbnailers-23.03.80.tar.xz">kdegraphics-thumbnailers-23.03.80</a></td>
   <td align="right">48kB</td>
   <td><tt>3dd5845354a4e661db9b414dfc495b9d65bf1f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kde-inotify-survey-23.03.80.tar.xz">kde-inotify-survey-23.03.80</a></td>
   <td align="right">220kB</td>
   <td><tt>f6ae7376afbc6bc36c34018afbfea98d53f800d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdenetwork-filesharing-23.03.80.tar.xz">kdenetwork-filesharing-23.03.80</a></td>
   <td align="right">459kB</td>
   <td><tt>e37620c3b61d6d2c761c46c04102a59f9be28402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdenlive-23.03.80.tar.xz">kdenlive-23.03.80</a></td>
   <td align="right">12243kB</td>
   <td><tt>70a2d16ff2b22bc0f37abc970747bcf2264c0498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdepim-addons-23.03.80.tar.xz">kdepim-addons-23.03.80</a></td>
   <td align="right">2587kB</td>
   <td><tt>328309b76a8f477e7c0aea153bcaf2391697499a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdepim-runtime-23.03.80.tar.xz">kdepim-runtime-23.03.80</a></td>
   <td align="right">1819kB</td>
   <td><tt>0cc67219542aa35ab38deaca25ed07c7cfc2edae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdesdk-kio-23.03.80.tar.xz">kdesdk-kio-23.03.80</a></td>
   <td align="right">39kB</td>
   <td><tt>47a236d2d91f4b1810bb68380a63f9ec22558e8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdesdk-thumbnailers-23.03.80.tar.xz">kdesdk-thumbnailers-23.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>4c6410c4e6650ba530a4b3ba5db7228c39abe02a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdevelop-23.03.80.tar.xz">kdevelop-23.03.80</a></td>
   <td align="right">8451kB</td>
   <td><tt>67ddb6afca36aaca1c551336ad44e21b9dd6604d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdev-php-23.03.80.tar.xz">kdev-php-23.03.80</a></td>
   <td align="right">1060kB</td>
   <td><tt>758e0c8012dd396963c0352d6bfda827a9647a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdev-python-23.03.80.tar.xz">kdev-python-23.03.80</a></td>
   <td align="right">1070kB</td>
   <td><tt>40e471a61aad2d6fdc33dff869ffcd66363424c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdf-23.03.80.tar.xz">kdf-23.03.80</a></td>
   <td align="right">480kB</td>
   <td><tt>c617fc0dd9b317f317c28daffd2c59ec73f4bcda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdialog-23.03.80.tar.xz">kdialog-23.03.80</a></td>
   <td align="right">138kB</td>
   <td><tt>6720d661eaa6923bbe54ba49110802e3c93baceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kdiamond-23.03.80.tar.xz">kdiamond-23.03.80</a></td>
   <td align="right">4598kB</td>
   <td><tt>9cdd77e782fdb71b35e6aa0a3591c4127f735fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/keditbookmarks-23.03.80.tar.xz">keditbookmarks-23.03.80</a></td>
   <td align="right">232kB</td>
   <td><tt>5e20d9c4816e9b0013adfff3834f4277fef384b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/keysmith-23.03.80.tar.xz">keysmith-23.03.80</a></td>
   <td align="right">155kB</td>
   <td><tt>a3985e3c5235015f38c5ebe1e7fa3b8232e6c921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kfind-23.03.80.tar.xz">kfind-23.03.80</a></td>
   <td align="right">334kB</td>
   <td><tt>9a177f0ba66128daac8bb88a19874fd776d398bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kfloppy-23.03.80.tar.xz">kfloppy-23.03.80</a></td>
   <td align="right">235kB</td>
   <td><tt>9c3f7b285c9431150d47f50bfffe5772b63ac042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kfourinline-23.03.80.tar.xz">kfourinline-23.03.80</a></td>
   <td align="right">722kB</td>
   <td><tt>3d0c1d8a3829d98112fc21d72968abcad283887e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kgeography-23.03.80.tar.xz">kgeography-23.03.80</a></td>
   <td align="right">12254kB</td>
   <td><tt>fcab195b5b3d3c3ea86a18657c209c68cde18b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kget-23.03.80.tar.xz">kget-23.03.80</a></td>
   <td align="right">5430kB</td>
   <td><tt>74bb238a26d3d7ce7d72537b3002e0ae5f880a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kgoldrunner-23.03.80.tar.xz">kgoldrunner-23.03.80</a></td>
   <td align="right">4789kB</td>
   <td><tt>3efb977b4f052bdae66e69c4c8457879362649dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kgpg-23.03.80.tar.xz">kgpg-23.03.80</a></td>
   <td align="right">2973kB</td>
   <td><tt>d690f0149325afb51a3149594899a367313bd2b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/khangman-23.03.80.tar.xz">khangman-23.03.80</a></td>
   <td align="right">7264kB</td>
   <td><tt>f1977137d66b1472d7a5aa0758b8ac5a552a68ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/khelpcenter-23.03.80.tar.xz">khelpcenter-23.03.80</a></td>
   <td align="right">4267kB</td>
   <td><tt>6590ea030637c6c1a365abfdd7535cde7c0b958d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kidentitymanagement-23.03.80.tar.xz">kidentitymanagement-23.03.80</a></td>
   <td align="right">159kB</td>
   <td><tt>fae50b1f6744263f850fc46426c6e35a518b2ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kig-23.03.80.tar.xz">kig-23.03.80</a></td>
   <td align="right">3204kB</td>
   <td><tt>7da31e8da137f6d14a84e5d9af5f5943ef81a972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kigo-23.03.80.tar.xz">kigo-23.03.80</a></td>
   <td align="right">5141kB</td>
   <td><tt>8e4dfd3c885d8bf038de3a6736577fbd1fde3ffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/killbots-23.03.80.tar.xz">killbots-23.03.80</a></td>
   <td align="right">1173kB</td>
   <td><tt>d7a8fdbe84132674524f371b6568c5a897854672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kimagemapeditor-23.03.80.tar.xz">kimagemapeditor-23.03.80</a></td>
   <td align="right">1077kB</td>
   <td><tt>4381cb3f3893c8d88e4c741cd380133a695dbad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kimap-23.03.80.tar.xz">kimap-23.03.80</a></td>
   <td align="right">127kB</td>
   <td><tt>3420bc2949cc73b1ed723329d2ed0990557ccfcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kio-admin-23.03.80.tar.xz">kio-admin-23.03.80</a></td>
   <td align="right">33kB</td>
   <td><tt>a4b0316702f0cd8d8f3bf787a471ad68f9cdc4ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kio-extras-23.03.80.tar.xz">kio-extras-23.03.80</a></td>
   <td align="right">1390kB</td>
   <td><tt>5949c50922dd7c3e9cf2983113c9637641e685eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kio-gdrive-23.03.80.tar.xz">kio-gdrive-23.03.80</a></td>
   <td align="right">77kB</td>
   <td><tt>4aba12639662e3ca866e1028b3219a0505517a5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kio-zeroconf-23.03.80.tar.xz">kio-zeroconf-23.03.80</a></td>
   <td align="right">43kB</td>
   <td><tt>c72217ae9e4265c61b35cd49a4042857ad82c878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kipi-plugins-23.03.80.tar.xz">kipi-plugins-23.03.80</a></td>
   <td align="right">1526kB</td>
   <td><tt>bfa5ad084dada9b3cc78b2d1b644f383402a9390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kirigami-gallery-23.03.80.tar.xz">kirigami-gallery-23.03.80</a></td>
   <td align="right">342kB</td>
   <td><tt>20f8ddb14402fb8946ebbc93b40d519b9c5fbb24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kiriki-23.03.80.tar.xz">kiriki-23.03.80</a></td>
   <td align="right">361kB</td>
   <td><tt>199d33cce2780838365213ff168936560987950c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kiten-23.03.80.tar.xz">kiten-23.03.80</a></td>
   <td align="right">11068kB</td>
   <td><tt>005086e9b1fb90be61ea3fe320bac85fdccc7dc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kitinerary-23.03.80.tar.xz">kitinerary-23.03.80</a></td>
   <td align="right">1705kB</td>
   <td><tt>099bd65a228d3881d8ddbdcc94ca92df59297aa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kjournald-23.03.80.tar.xz">kjournald-23.03.80</a></td>
   <td align="right">500kB</td>
   <td><tt>bb0865f3198f1df1deae9a9cab4a8104038a7509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kjumpingcube-23.03.80.tar.xz">kjumpingcube-23.03.80</a></td>
   <td align="right">328kB</td>
   <td><tt>ba4de04f813a5e7228584912d9e8ccf69537a530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kldap-23.03.80.tar.xz">kldap-23.03.80</a></td>
   <td align="right">178kB</td>
   <td><tt>c9bc6bda01698fffed0e57b2945f81d069f6acc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kleopatra-23.03.80.tar.xz">kleopatra-23.03.80</a></td>
   <td align="right">2548kB</td>
   <td><tt>9c052ae05992407bbf200b051bd69d711becf867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/klettres-23.03.80.tar.xz">klettres-23.03.80</a></td>
   <td align="right">46723kB</td>
   <td><tt>3ec737e39a97008b7b76a7513f61cafe1844df87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/klickety-23.03.80.tar.xz">klickety-23.03.80</a></td>
   <td align="right">1464kB</td>
   <td><tt>8b2b2d9e41aaae4f4453d25c5b67b38f680d0618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/klines-23.03.80.tar.xz">klines-23.03.80</a></td>
   <td align="right">1696kB</td>
   <td><tt>c4930ba0b97f5aafd4276b81a950a69a3969234b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmag-23.03.80.tar.xz">kmag-23.03.80</a></td>
   <td align="right">707kB</td>
   <td><tt>0ccfd58d4e8520937495d64c619117873c0c1242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmahjongg-23.03.80.tar.xz">kmahjongg-23.03.80</a></td>
   <td align="right">4000kB</td>
   <td><tt>8063ef60d8f985fccff581ba8c1311218e6c299a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmail-23.03.80.tar.xz">kmail-23.03.80</a></td>
   <td align="right">7466kB</td>
   <td><tt>b67260f08e87c4527649ab3edc4472bcf169498d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmail-account-wizard-23.03.80.tar.xz">kmail-account-wizard-23.03.80</a></td>
   <td align="right">180kB</td>
   <td><tt>5d5af38ae44157cf3cb6d8cb9b0d48ef778bdf4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmailtransport-23.03.80.tar.xz">kmailtransport-23.03.80</a></td>
   <td align="right">187kB</td>
   <td><tt>63864d9097cb1a91d4cc0aa238b501f7d7c7db7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmbox-23.03.80.tar.xz">kmbox-23.03.80</a></td>
   <td align="right">28kB</td>
   <td><tt>61be767a9332fd7965d8bff3e9ac978faf28d82f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmime-23.03.80.tar.xz">kmime-23.03.80</a></td>
   <td align="right">158kB</td>
   <td><tt>a5c4c38d07542b7cf7b98ff40f4f1b920600a4bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmines-23.03.80.tar.xz">kmines-23.03.80</a></td>
   <td align="right">985kB</td>
   <td><tt>3c614a4a390aef4a4f338b78a4ce52eff2807943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmix-23.03.80.tar.xz">kmix-23.03.80</a></td>
   <td align="right">1168kB</td>
   <td><tt>7980a42e977e73336bbb25ada4789887107796be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmousetool-23.03.80.tar.xz">kmousetool-23.03.80</a></td>
   <td align="right">126kB</td>
   <td><tt>6abea98bd228f6d24465931be416add0e9b7ac4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmouth-23.03.80.tar.xz">kmouth-23.03.80</a></td>
   <td align="right">2038kB</td>
   <td><tt>ca5f0a752f2241df92c57c32b38e581bde129f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kmplot-23.03.80.tar.xz">kmplot-23.03.80</a></td>
   <td align="right">3027kB</td>
   <td><tt>869cb38ee27f2a1d1eae931b55cd899eba32dd9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/knavalbattle-23.03.80.tar.xz">knavalbattle-23.03.80</a></td>
   <td align="right">1368kB</td>
   <td><tt>bf14d37579f1967fbf082994e5333e1f62b3de11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/knetwalk-23.03.80.tar.xz">knetwalk-23.03.80</a></td>
   <td align="right">1078kB</td>
   <td><tt>614830e54ec23fc4798491ae62e747846554c295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/knights-23.03.80.tar.xz">knights-23.03.80</a></td>
   <td align="right">3251kB</td>
   <td><tt>1166ee6ea3ab82fc194f33777591847e8124c9ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/knotes-23.03.80.tar.xz">knotes-23.03.80</a></td>
   <td align="right">366kB</td>
   <td><tt>9ceda538e7ead4d2c27d96acd3f63ecfa5898c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/koko-23.03.80.tar.xz">koko-23.03.80</a></td>
   <td align="right">134kB</td>
   <td><tt>2fc855b421aa122ba5252f141de18d7d44a955f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kolf-23.03.80.tar.xz">kolf-23.03.80</a></td>
   <td align="right">1044kB</td>
   <td><tt>d07a3ab54b3edd40b3c9c2a876508d0301449031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kollision-23.03.80.tar.xz">kollision-23.03.80</a></td>
   <td align="right">299kB</td>
   <td><tt>5c40ddbe7bac5bdaa8e972c3379707dc35febc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kolourpaint-23.03.80.tar.xz">kolourpaint-23.03.80</a></td>
   <td align="right">5649kB</td>
   <td><tt>91b37a07a016b312a7e8dd24f78907a558899214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kompare-23.03.80.tar.xz">kompare-23.03.80</a></td>
   <td align="right">959kB</td>
   <td><tt>60990cfb8ac85d25625e1e5dbaf1d64b67edb0c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kongress-23.03.80.tar.xz">kongress-23.03.80</a></td>
   <td align="right">573kB</td>
   <td><tt>0487068a7038257793bb897c7cc50214e97aa579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/konqueror-23.03.80.tar.xz">konqueror-23.03.80</a></td>
   <td align="right">8290kB</td>
   <td><tt>4e06194303841f9c00fb2fafacdc96f887e0810c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/konquest-23.03.80.tar.xz">konquest-23.03.80</a></td>
   <td align="right">855kB</td>
   <td><tt>b01e2015be258b6220c077f3047528c5f8ac288d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/konsole-23.03.80.tar.xz">konsole-23.03.80</a></td>
   <td align="right">1773kB</td>
   <td><tt>dac4b6f768483ab4fb232ea05619795d79e57884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kontact-23.03.80.tar.xz">kontact-23.03.80</a></td>
   <td align="right">851kB</td>
   <td><tt>f89132b17760ba831d4391ad94f6bd10c548c3d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kontactinterface-23.03.80.tar.xz">kontactinterface-23.03.80</a></td>
   <td align="right">39kB</td>
   <td><tt>438d56b12f0494c7157c8119ec8a7c40236085b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kontrast-23.03.80.tar.xz">kontrast-23.03.80</a></td>
   <td align="right">200kB</td>
   <td><tt>5f2473096f4e5d0232f9129b2eba89001598d851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/konversation-23.03.80.tar.xz">konversation-23.03.80</a></td>
   <td align="right">4350kB</td>
   <td><tt>754db63290839de3667a7f9ce65a93c391232692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kopeninghours-23.03.80.tar.xz">kopeninghours-23.03.80</a></td>
   <td align="right">69kB</td>
   <td><tt>a4d34c77a58b6ef3ba87945dcbe6e0ed89c6b924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kopete-23.03.80.tar.xz">kopete-23.03.80</a></td>
   <td align="right">9910kB</td>
   <td><tt>fd6c54cad5173ba31b9419ff6c49c949aaa5f177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/korganizer-23.03.80.tar.xz">korganizer-23.03.80</a></td>
   <td align="right">2477kB</td>
   <td><tt>759cdb7cd9dd8302718f40f0a0942660bbb78ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kosmindoormap-23.03.80.tar.xz">kosmindoormap-23.03.80</a></td>
   <td align="right">365kB</td>
   <td><tt>f1ebdc69f03fd94702e3aa286aff485924eff715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kpat-23.03.80.tar.xz">kpat-23.03.80</a></td>
   <td align="right">3664kB</td>
   <td><tt>ffb1a2f9d813340b107cd23f06d7ca410884e480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kpimtextedit-23.03.80.tar.xz">kpimtextedit-23.03.80</a></td>
   <td align="right">213kB</td>
   <td><tt>516e4b853e2b412336f5c7494b02f2a40ee33b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kpkpass-23.03.80.tar.xz">kpkpass-23.03.80</a></td>
   <td align="right">28kB</td>
   <td><tt>bcac50441992b9345a460e5fd25d1f2c557ded62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kpmcore-23.03.80.tar.xz">kpmcore-23.03.80</a></td>
   <td align="right">608kB</td>
   <td><tt>cff75e7692920cf6e5bb51675a09a902112a004f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kpublictransport-23.03.80.tar.xz">kpublictransport-23.03.80</a></td>
   <td align="right">507kB</td>
   <td><tt>117279105bba081906d9383539b62f4b20eb2815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kqtquickcharts-23.03.80.tar.xz">kqtquickcharts-23.03.80</a></td>
   <td align="right">30kB</td>
   <td><tt>60d3bde6108fe084dec807332176a662e61db516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/krdc-23.03.80.tar.xz">krdc-23.03.80</a></td>
   <td align="right">1594kB</td>
   <td><tt>b566e41291d22fd96604aee927b7bf250f0e3527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/krecorder-23.03.80.tar.xz">krecorder-23.03.80</a></td>
   <td align="right">155kB</td>
   <td><tt>7f10e84d6fe27117e3005f69b4c7770e8341bf72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kreversi-23.03.80.tar.xz">kreversi-23.03.80</a></td>
   <td align="right">1052kB</td>
   <td><tt>0fdbb909a14d47abefcdd3453c7f3cea950d1d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/krfb-23.03.80.tar.xz">krfb-23.03.80</a></td>
   <td align="right">1288kB</td>
   <td><tt>c40387bb8a12c144e6203f462d31ba0bdd94f06c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kross-interpreters-23.03.80.tar.xz">kross-interpreters-23.03.80</a></td>
   <td align="right">148kB</td>
   <td><tt>e33689fbb7174ed684c3c3b3f7f9bc9b2f9e2411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kruler-23.03.80.tar.xz">kruler-23.03.80</a></td>
   <td align="right">280kB</td>
   <td><tt>73f85503751b7381bb27437a00f54d2d06c6c017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ksanecore-23.03.80.tar.xz">ksanecore-23.03.80</a></td>
   <td align="right">48kB</td>
   <td><tt>990627667a130a8140a2331b5d64da72bab5ad1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kshisen-23.03.80.tar.xz">kshisen-23.03.80</a></td>
   <td align="right">984kB</td>
   <td><tt>17b9e28f2fe4e59fa802939525eed185c1ed54e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ksirk-23.03.80.tar.xz">ksirk-23.03.80</a></td>
   <td align="right">6881kB</td>
   <td><tt>e156ff6fa057599351a65fad6422d0a67b0091a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ksmtp-23.03.80.tar.xz">ksmtp-23.03.80</a></td>
   <td align="right">49kB</td>
   <td><tt>fe0ef2810c0578b23aaff189a7225ab276e02716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ksnakeduel-23.03.80.tar.xz">ksnakeduel-23.03.80</a></td>
   <td align="right">587kB</td>
   <td><tt>622bdddf6d729cd15619065359d87216340c34c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kspaceduel-23.03.80.tar.xz">kspaceduel-23.03.80</a></td>
   <td align="right">644kB</td>
   <td><tt>03d74ea0de630590fa1a4d4417d4a6c5e7533a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ksquares-23.03.80.tar.xz">ksquares-23.03.80</a></td>
   <td align="right">305kB</td>
   <td><tt>f8e67173896d9e7e84458cf6635c46e01c2f86e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ksudoku-23.03.80.tar.xz">ksudoku-23.03.80</a></td>
   <td align="right">1662kB</td>
   <td><tt>fa3ae568ea08308fb0607a80c9c6621dcb10c901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ksystemlog-23.03.80.tar.xz">ksystemlog-23.03.80</a></td>
   <td align="right">1955kB</td>
   <td><tt>90ee3e017de4ef3bf26721ef4ece028ccb7c81ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kteatime-23.03.80.tar.xz">kteatime-23.03.80</a></td>
   <td align="right">305kB</td>
   <td><tt>3ee5eb49f9d0bb2c46c3c28f9666d407bf449218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktimer-23.03.80.tar.xz">ktimer-23.03.80</a></td>
   <td align="right">394kB</td>
   <td><tt>a8868dc01f135ea0598ac264a2df82b40dd9ccf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktnef-23.03.80.tar.xz">ktnef-23.03.80</a></td>
   <td align="right">302kB</td>
   <td><tt>531196eb8979ab9a0a1ba4a3a0df70d4066ae817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktorrent-23.03.80.tar.xz">ktorrent-23.03.80</a></td>
   <td align="right">2099kB</td>
   <td><tt>db09a8b8506fea01426a07e4331eff82c8d96a56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktouch-23.03.80.tar.xz">ktouch-23.03.80</a></td>
   <td align="right">4916kB</td>
   <td><tt>12bea097cf60e72e65630bc32a277600b558e819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-accounts-kcm-23.03.80.tar.xz">ktp-accounts-kcm-23.03.80</a></td>
   <td align="right">271kB</td>
   <td><tt>1d0041a7839329bcd1b1fa3cf6b3e5bf7f28b91f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-approver-23.03.80.tar.xz">ktp-approver-23.03.80</a></td>
   <td align="right">38kB</td>
   <td><tt>ff1e005bd700f4e0ede4fea06ee424c584bdcb7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-auth-handler-23.03.80.tar.xz">ktp-auth-handler-23.03.80</a></td>
   <td align="right">47kB</td>
   <td><tt>f5b5906d710744509d8ce37eaa2e5a0c3fb20f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-call-ui-23.03.80.tar.xz">ktp-call-ui-23.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>9ff2dcf7d997553ea97bd4aae7d597c0e1defe7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-common-internals-23.03.80.tar.xz">ktp-common-internals-23.03.80</a></td>
   <td align="right">448kB</td>
   <td><tt>66e1791be300c616d70f99eececcb3b668d0fe09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-contact-list-23.03.80.tar.xz">ktp-contact-list-23.03.80</a></td>
   <td align="right">156kB</td>
   <td><tt>e228e1eb78f5282ecd5ec31768ff8afff78c1f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-contact-runner-23.03.80.tar.xz">ktp-contact-runner-23.03.80</a></td>
   <td align="right">44kB</td>
   <td><tt>3b706d3519a4496d2d651c10404a3e661fda1f65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-desktop-applets-23.03.80.tar.xz">ktp-desktop-applets-23.03.80</a></td>
   <td align="right">44kB</td>
   <td><tt>32312fc727dcdc2ffee3004299df2c5453f8f055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-filetransfer-handler-23.03.80.tar.xz">ktp-filetransfer-handler-23.03.80</a></td>
   <td align="right">46kB</td>
   <td><tt>5d3772f31d1102c64720833d080c8183eb3bb22c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-kded-module-23.03.80.tar.xz">ktp-kded-module-23.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>2e1c2fde8d2130ff391fefe313fe3eadbdfb48c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-send-file-23.03.80.tar.xz">ktp-send-file-23.03.80</a></td>
   <td align="right">29kB</td>
   <td><tt>27802f70117ac10f02322f070a82debeb9f0b076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktp-text-ui-23.03.80.tar.xz">ktp-text-ui-23.03.80</a></td>
   <td align="right">475kB</td>
   <td><tt>13919251fc9c6fa105ea7de4dcfb0b9f556a9501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktrip-23.03.80.tar.xz">ktrip-23.03.80</a></td>
   <td align="right">247kB</td>
   <td><tt>e941acd8b62f622d5ad71155ab3a8921fa01fb7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/ktuberling-23.03.80.tar.xz">ktuberling-23.03.80</a></td>
   <td align="right">69729kB</td>
   <td><tt>6887223cedd9f8599fde7e2dc26cc158abcac3ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kturtle-23.03.80.tar.xz">kturtle-23.03.80</a></td>
   <td align="right">1953kB</td>
   <td><tt>982761137507d7f20d43191732a9c6dc016238a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kubrick-23.03.80.tar.xz">kubrick-23.03.80</a></td>
   <td align="right">340kB</td>
   <td><tt>d33f4dad242b9ed94d46220b3035a6557fff44b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kwalletmanager-23.03.80.tar.xz">kwalletmanager-23.03.80</a></td>
   <td align="right">825kB</td>
   <td><tt>72aedc2843a7292f37097954f15894e307bb09bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kwave-23.03.80.tar.xz">kwave-23.03.80</a></td>
   <td align="right">6800kB</td>
   <td><tt>87a206098cfada443ca734a0f49918f7dc7724cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kweather-23.03.80.tar.xz">kweather-23.03.80</a></td>
   <td align="right">994kB</td>
   <td><tt>95097f66eb9c21e49d11f6bbea67c1908f8a764f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/kwordquiz-23.03.80.tar.xz">kwordquiz-23.03.80</a></td>
   <td align="right">4162kB</td>
   <td><tt>e793966f8249beda25b874c317f393fade3c433f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libgravatar-23.03.80.tar.xz">libgravatar-23.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>704f277ecd9d8e41496079a859cf0af82f82c89c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkcddb-23.03.80.tar.xz">libkcddb-23.03.80</a></td>
   <td align="right">447kB</td>
   <td><tt>232e146acd7265fd81ef5cff5644d57f92f386c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkcompactdisc-23.03.80.tar.xz">libkcompactdisc-23.03.80</a></td>
   <td align="right">96kB</td>
   <td><tt>c96d73923bf2c681e87993331cc977a842158c71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkdcraw-23.03.80.tar.xz">libkdcraw-23.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>b8c2c2cc1fc4c1bf389beb30fdba0a27b52207ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkdegames-23.03.80.tar.xz">libkdegames-23.03.80</a></td>
   <td align="right">5847kB</td>
   <td><tt>dda5c71d8626f272ea23af3f9dc1dfc874fa4769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkdepim-23.03.80.tar.xz">libkdepim-23.03.80</a></td>
   <td align="right">279kB</td>
   <td><tt>c34d27fa1ea8cf3e5c0cbca87f2777c57dfd6a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkeduvocdocument-23.03.80.tar.xz">libkeduvocdocument-23.03.80</a></td>
   <td align="right">225kB</td>
   <td><tt>d7ce1f32410e24bd42b086f962a12f69d351b1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkexiv2-23.03.80.tar.xz">libkexiv2-23.03.80</a></td>
   <td align="right">58kB</td>
   <td><tt>9ed13fd770e078fb96b362bfaa52a37e2364f0e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkgapi-23.03.80.tar.xz">libkgapi-23.03.80</a></td>
   <td align="right">325kB</td>
   <td><tt>04d6787213c22b76e0c75cb659734d73475c6881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkipi-23.03.80.tar.xz">libkipi-23.03.80</a></td>
   <td align="right">86kB</td>
   <td><tt>8b79e5fc007cc431960f6abbb370cda26ca3698e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkleo-23.03.80.tar.xz">libkleo-23.03.80</a></td>
   <td align="right">501kB</td>
   <td><tt>e0c95b5fb6d248a85d972f1d0901f5eac05d7a19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkmahjongg-23.03.80.tar.xz">libkmahjongg-23.03.80</a></td>
   <td align="right">1647kB</td>
   <td><tt>4d4f0ad5aed84884ad8106ae826433ff37926f46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libkomparediff2-23.03.80.tar.xz">libkomparediff2-23.03.80</a></td>
   <td align="right">181kB</td>
   <td><tt>ce1075b4964919e1b6c8b825f3bf7d858467b94c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libksane-23.03.80.tar.xz">libksane-23.03.80</a></td>
   <td align="right">151kB</td>
   <td><tt>3544d65127830b63d683079e35288b4da92b9b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libksieve-23.03.80.tar.xz">libksieve-23.03.80</a></td>
   <td align="right">542kB</td>
   <td><tt>6fcd29c9fb85066f0fe1f5939c8d7036e7b5e868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/libktorrent-23.03.80.tar.xz">libktorrent-23.03.80</a></td>
   <td align="right">589kB</td>
   <td><tt>1e90a0444bae5d75f3b66276c70fb4e9e4016578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/lokalize-23.03.80.tar.xz">lokalize-23.03.80</a></td>
   <td align="right">2067kB</td>
   <td><tt>f22fb4794a7c627f5ddd6f59a660e602227e40e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/lskat-23.03.80.tar.xz">lskat-23.03.80</a></td>
   <td align="right">1220kB</td>
   <td><tt>d69986f16aefd9d47d848770a07ce60a73bea98a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/mailcommon-23.03.80.tar.xz">mailcommon-23.03.80</a></td>
   <td align="right">740kB</td>
   <td><tt>0a51b949e1af8d88dfb7415be9c4ef27e4680ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/mailimporter-23.03.80.tar.xz">mailimporter-23.03.80</a></td>
   <td align="right">577kB</td>
   <td><tt>3792d11dd4cfdd19aef222dd102299b99c68744e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/marble-23.03.80.tar.xz">marble-23.03.80</a></td>
   <td align="right">52500kB</td>
   <td><tt>bc85fb2dd97e15dd533fd4eaa92aa9035df1f952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/markdownpart-23.03.80.tar.xz">markdownpart-23.03.80</a></td>
   <td align="right">30kB</td>
   <td><tt>89e7a52ac8073c2b4bf7fcd7d69d0fcb4ebdf610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/mbox-importer-23.03.80.tar.xz">mbox-importer-23.03.80</a></td>
   <td align="right">29kB</td>
   <td><tt>841824e484cb5f478f049040aa36d2fe51f64a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/messagelib-23.03.80.tar.xz">messagelib-23.03.80</a></td>
   <td align="right">11031kB</td>
   <td><tt>eb0525118055e16c6704a56acf3f8807365eb577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/minuet-23.03.80.tar.xz">minuet-23.03.80</a></td>
   <td align="right">27035kB</td>
   <td><tt>fe137e405a799fb0ea764f4e9454f9193dd5db48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/neochat-23.03.80.tar.xz">neochat-23.03.80</a></td>
   <td align="right">551kB</td>
   <td><tt>d63c7bd5562e86007988eb5d7697d802cedf169e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/okular-23.03.80.tar.xz">okular-23.03.80</a></td>
   <td align="right">8279kB</td>
   <td><tt>df80b5a227d62c482c7805fe45c2ebd0db5ac2e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/palapeli-23.03.80.tar.xz">palapeli-23.03.80</a></td>
   <td align="right">2061kB</td>
   <td><tt>1dd7396a8386a6261c5723bded04896ec9f8bc0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/parley-23.03.80.tar.xz">parley-23.03.80</a></td>
   <td align="right">8396kB</td>
   <td><tt>b0ddb723c4cae8962e462b423caf1cff91c03634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/partitionmanager-23.03.80.tar.xz">partitionmanager-23.03.80</a></td>
   <td align="right">2088kB</td>
   <td><tt>5ec8c199e958494da3ce89f3a0dab159732a18d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/picmi-23.03.80.tar.xz">picmi-23.03.80</a></td>
   <td align="right">1504kB</td>
   <td><tt>f47a5967bd1dabc1e63b430ad6866da7ee7bc4d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/pimcommon-23.03.80.tar.xz">pimcommon-23.03.80</a></td>
   <td align="right">339kB</td>
   <td><tt>fbc74b72a5ccc8f802e8d08a02357e3c74de97b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/pim-data-exporter-23.03.80.tar.xz">pim-data-exporter-23.03.80</a></td>
   <td align="right">415kB</td>
   <td><tt>52eb4d4bf0e000007d8abc032eb768ab76073df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/pim-sieve-editor-23.03.80.tar.xz">pim-sieve-editor-23.03.80</a></td>
   <td align="right">453kB</td>
   <td><tt>ee3aa3e224600a2097c10f9d444a8c15a4b03539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/plasmatube-23.03.80.tar.xz">plasmatube-23.03.80</a></td>
   <td align="right">76kB</td>
   <td><tt>f5df167b0035ddf44bee8b9fead9b8a56312b3b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/poxml-23.03.80.tar.xz">poxml-23.03.80</a></td>
   <td align="right">43kB</td>
   <td><tt>5b31e3e5caccd30500c88b163719184cfe8e7723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/print-manager-23.03.80.tar.xz">print-manager-23.03.80</a></td>
   <td align="right">282kB</td>
   <td><tt>a82b3ed49e02c6ecd0c5b53237ec6b8ebc1a1b80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/qmlkonsole-23.03.80.tar.xz">qmlkonsole-23.03.80</a></td>
   <td align="right">65kB</td>
   <td><tt>bd2bf731a4e251a1488847318d8b46e3186e38bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/rocs-23.03.80.tar.xz">rocs-23.03.80</a></td>
   <td align="right">1532kB</td>
   <td><tt>b14730535924836589dd7164b1fe1e4c94f7c564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/signon-kwallet-extension-23.03.80.tar.xz">signon-kwallet-extension-23.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>766ed18940ab6edc5272e6b29f7b70dbe41a39e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/skanlite-23.03.80.tar.xz">skanlite-23.03.80</a></td>
   <td align="right">2392kB</td>
   <td><tt>9aee5ba2a6ab0cac6bbf3a7c2befae1962746f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/skanpage-23.03.80.tar.xz">skanpage-23.03.80</a></td>
   <td align="right">1266kB</td>
   <td><tt>1e9f97c8e5f426c2acec413be9ecf33ed66f39de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/spectacle-23.03.80.tar.xz">spectacle-23.03.80</a></td>
   <td align="right">1304kB</td>
   <td><tt>ce08b3c807ade8e396c973217d215c215d8fac7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/step-23.03.80.tar.xz">step-23.03.80</a></td>
   <td align="right">960kB</td>
   <td><tt>1963e2276cb2883c24462dd9e54cd8899ff43e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/svgpart-23.03.80.tar.xz">svgpart-23.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>1ea04120e9e1c1f8219968bcb301fad6ab6c422e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/sweeper-23.03.80.tar.xz">sweeper-23.03.80</a></td>
   <td align="right">389kB</td>
   <td><tt>1838ab3444a8acaa2f2d0412119c4695edb33598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/telly-skout-23.03.80.tar.xz">telly-skout-23.03.80</a></td>
   <td align="right">92kB</td>
   <td><tt>7118989ae56e122c38a9781b4226632f8949179f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/tokodon-23.03.80.tar.xz">tokodon-23.03.80</a></td>
   <td align="right">221kB</td>
   <td><tt>96df3b1f8cc082eabddccc6ccf370f304e9b3a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/umbrello-23.03.80.tar.xz">umbrello-23.03.80</a></td>
   <td align="right">5638kB</td>
   <td><tt>ea200ac7e486126c25a2d5173360b9812ad3a128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/yakuake-23.03.80.tar.xz">yakuake-23.03.80</a></td>
   <td align="right">418kB</td>
   <td><tt>89ec8bc5499fcbe0479a70da58b2a668a3b930fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.80/src/zanshin-23.03.80.tar.xz">zanshin-23.03.80</a></td>
   <td align="right">341kB</td>
   <td><tt>c9c428f38cc7cd367445de22ab38f2ac36cb4394</tt></td>
</tr>

</table>
