<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/bluedevil-5.6.4.tar.xz">bluedevil-5.6.4</a></td>
   <td align="right">168kB</td>
   <td><tt>603e0f51d97f6d7bd4fb42000c7fbd6df60df7e4ecbd7ccece54bd5b70556d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/breeze-5.6.4.tar.xz">breeze-5.6.4</a></td>
   <td align="right">18MB</td>
   <td><tt>1da1db2a5fc8419b99a7233efd938db1eef37798ecdb5d99036fa8c6cd9e8ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/breeze-grub-5.6.4.tar.xz">breeze-grub-5.6.4</a></td>
   <td align="right">149kB</td>
   <td><tt>fed65ded6056ae1110886684aeb8efdad93a2b467e53d1162cfbb9fa4e0e8c31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/breeze-gtk-5.6.4.tar.xz">breeze-gtk-5.6.4</a></td>
   <td align="right">251kB</td>
   <td><tt>571f3b65dc6995625e35a555467f01ead086de87a51ae4aa9d008b3be3ddc51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/breeze-plymouth-5.6.4.tar.xz">breeze-plymouth-5.6.4</a></td>
   <td align="right">60kB</td>
   <td><tt>0e70b379eb4a17d5eb1f554e59fdc7c696d1afd3d45a1e6262aab659095dbded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/discover-5.6.4.tar.xz">discover-5.6.4</a></td>
   <td align="right">847kB</td>
   <td><tt>8b9a1e986a633f1a47ef3649e997f6d5d7339c0d12e5890f8ceba10acfb93951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kactivitymanagerd-5.6.4.tar.xz">kactivitymanagerd-5.6.4</a></td>
   <td align="right">82kB</td>
   <td><tt>5fc08123e880e6df47a5058358c40956aab4dfc1834fba96d29a75c0451afe76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kde-cli-tools-5.6.4.tar.xz">kde-cli-tools-5.6.4</a></td>
   <td align="right">493kB</td>
   <td><tt>f54e54186103a47c38c811212ab735ef3e637a4b1bd4b83f8a4803d2658ab0ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kdecoration-5.6.4.tar.xz">kdecoration-5.6.4</a></td>
   <td align="right">34kB</td>
   <td><tt>5709e5dfa5c282acc8a0913deb643d25f8d1d53f9f40c6486ab6039262b40445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kde-gtk-config-5.6.4.tar.xz">kde-gtk-config-5.6.4</a></td>
   <td align="right">160kB</td>
   <td><tt>b994e832915be32b70f777ee0bd5bc34e571675248f278abbcf213018444e984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kdeplasma-addons-5.6.4.tar.xz">kdeplasma-addons-5.6.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2d16aa99373cf62dd8a98805d2505acc281bf9af4e7b273ab10fb5390bb64040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kgamma5-5.6.4.tar.xz">kgamma5-5.6.4</a></td>
   <td align="right">70kB</td>
   <td><tt>a30fa67b35d89e68eda6d79d04a447f0df1f21356b34eba356992b5178cb877d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/khelpcenter-5.6.4.tar.xz">khelpcenter-5.6.4</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0f15e37394c468b3c3f51f4c0fd8161dabba9b99ca44e69a48b712b073f0bc92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/khotkeys-5.6.4.tar.xz">khotkeys-5.6.4</a></td>
   <td align="right">653kB</td>
   <td><tt>858d80a4145a417f6d5fce7255c1c5fa637f444a9743216dcc6cbb68d5fb7df6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kinfocenter-5.6.4.tar.xz">kinfocenter-5.6.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>cc94ebf839593c53ac737ac286077eb1764fdc137f1edb484cd0bb7cb35833a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kmenuedit-5.6.4.tar.xz">kmenuedit-5.6.4</a></td>
   <td align="right">689kB</td>
   <td><tt>1f38b58006cae7fedf0cb6f0756562eb2550fae4b61bfef85fdcb7cd687f25ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kscreen-5.6.4.tar.xz">kscreen-5.6.4</a></td>
   <td align="right">118kB</td>
   <td><tt>d227dc557f676d185777eda52ece12f07c39c008bb7cd5ce288134cbe114e240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kscreenlocker-5.6.4.tar.xz">kscreenlocker-5.6.4</a></td>
   <td align="right">101kB</td>
   <td><tt>104c31bc886358273bfab2f2605fbfb8a1030046b64611483ca1835ce865d02a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/ksshaskpass-5.6.4.tar.xz">ksshaskpass-5.6.4</a></td>
   <td align="right">24kB</td>
   <td><tt>7eaaf96eb272c974f8f96a97f62f28e2ef665e5387b5062053a3e02b4a90fde3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/ksysguard-5.6.4.tar.xz">ksysguard-5.6.4</a></td>
   <td align="right">601kB</td>
   <td><tt>81dd907744208f5519e0b10ab482c21aa2d7752218271221d09ba2a626e10300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kwallet-pam-5.6.4.tar.xz">kwallet-pam-5.6.4</a></td>
   <td align="right">17kB</td>
   <td><tt>b20b2cd55b6f4c5e4c1f1590b783ff346e1ea6a1f8341b2c4ee4cf9c3bb425fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kwayland-5.6.4.tar.xz">kwayland-5.6.4</a></td>
   <td align="right">164kB</td>
   <td><tt>d8ac15243b0f648429e76d925cced8d16d5b001218509395653a5a5d76be3552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kwayland-integration-5.6.4.tar.xz">kwayland-integration-5.6.4</a></td>
   <td align="right">16kB</td>
   <td><tt>f157212b1da4aa6db5ad3551c0c68ff4d8e32f44a5e84c13d87a0cbcea35b4cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kwin-5.6.4.tar.xz">kwin-5.6.4</a></td>
   <td align="right">3.7MB</td>
   <td><tt>ace5215081835930fcb75a5d4919921f0adb7ebec7da3b61d1caa1c92c4c0625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/kwrited-5.6.4.tar.xz">kwrited-5.6.4</a></td>
   <td align="right">19kB</td>
   <td><tt>583c86684cae1f8c1111caf6eb98bcec8e9b6178b72d6844fa45db099a4af131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/libkscreen-5.6.4.tar.xz">libkscreen-5.6.4</a></td>
   <td align="right">81kB</td>
   <td><tt>7de22b99e831eff39dd98dc032fef69ff8c44aa88fee9793ed3d8dafd4cb2ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/libksysguard-5.6.4.tar.xz">libksysguard-5.6.4</a></td>
   <td align="right">683kB</td>
   <td><tt>467642916197df61df0658fc6e2b4c46dc8acc397217e7b97feff96c715a9c29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/milou-5.6.4.tar.xz">milou-5.6.4</a></td>
   <td align="right">55kB</td>
   <td><tt>d3ef5b68189f89e6ae18049b3ceb6ccd660002c6c07bc1e0ea24308e518a42c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/oxygen-5.6.4.tar.xz">oxygen-5.6.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a93a1b02e11b9472c16b83df301b10a45fbd11d7bd7dc8ed1629067a56581141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/plasma-desktop-5.6.4.tar.xz">plasma-desktop-5.6.4</a></td>
   <td align="right">6.0MB</td>
   <td><tt>fc6aec02a6747f24271e399feea9150f45840a0ce3f98a0f81b17f8cb8f04876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/plasma-integration-5.6.4.tar.xz">plasma-integration-5.6.4</a></td>
   <td align="right">50kB</td>
   <td><tt>95f434801f23f2ffbbb2df6dcb19ef1373ef942919bc5a133adca8c59e1a1bab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/plasma-mediacenter-5.6.4.tar.xz">plasma-mediacenter-5.6.4</a></td>
   <td align="right">170kB</td>
   <td><tt>ecc732bd15d84352876ced1a68fea124f089ae80e522c4858b03b6af88365a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/plasma-nm-5.6.4.tar.xz">plasma-nm-5.6.4</a></td>
   <td align="right">631kB</td>
   <td><tt>7b8440c47c6800ce8fc60014dc8dab5cc0f03fe15695625588ab79e4caa70ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/plasma-pa-5.6.4.tar.xz">plasma-pa-5.6.4</a></td>
   <td align="right">59kB</td>
   <td><tt>ba0091de6df2112194bf1447098dadb28507a0ee1dfa58250662366529c41472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/plasma-sdk-5.6.4.tar.xz">plasma-sdk-5.6.4</a></td>
   <td align="right">688kB</td>
   <td><tt>91e0e9e883e4fe8708918978b205a7c988dd2d992560068f4d443c40dc0c4ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/plasma-workspace-5.6.4.tar.xz">plasma-workspace-5.6.4</a></td>
   <td align="right">6.7MB</td>
   <td><tt>1b058bd04a7d5a7b358fa8763c4a9f21fa34889eeacb4e110263a10c47e030e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/plasma-workspace-wallpapers-5.6.4.tar.xz">plasma-workspace-wallpapers-5.6.4</a></td>
   <td align="right">43MB</td>
   <td><tt>03bba0805c626902c684e5e8d6d8169730f2c3cecacd8323a4f9ba275388ffdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/polkit-kde-agent-1-5.6.4.tar.xz">polkit-kde-agent-1-5.6.4</a></td>
   <td align="right">49kB</td>
   <td><tt>df5cd2314cd3e71a206606b9e468ab6a502d49a17f3adaf11082649f9686931e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/powerdevil-5.6.4.tar.xz">powerdevil-5.6.4</a></td>
   <td align="right">345kB</td>
   <td><tt>a5864679d3cd7752c4d6601853c18f18239606f153d347010c1f1da31de3607b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/sddm-kcm-5.6.4.tar.xz">sddm-kcm-5.6.4</a></td>
   <td align="right">55kB</td>
   <td><tt>9ba45888fcf96b0572f68138f6e3a4e3109ad6cd06b3234ba0057baf40efc715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/systemsettings-5.6.4.tar.xz">systemsettings-5.6.4</a></td>
   <td align="right">177kB</td>
   <td><tt>9b36d0ba43d98e5d0ade4c665c6d9e8ac032488369cf7cafdd6c46c8c9c797c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.4/user-manager-5.6.4.tar.xz">user-manager-5.6.4</a></td>
   <td align="right">70kB</td>
   <td><tt>358b4bd078e4dd9ddcdd6b5c8e9c7ef3c67958e8596c91a7b08d290989ee3ddc</tt></td>
</tr>

</table>
