<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/bluedevil-5.21.3.tar.xz">bluedevil-5.21.3</a></td>
   <td align="right">158kB</td>
   <td><tt>1b1ff32ed88ff087fe33992aaa56ddfcb03361ad3b17ee09a351ab93ec2215f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/breeze-5.21.3.tar.xz">breeze-5.21.3</a></td>
   <td align="right">25MB</td>
   <td><tt>838ad341c16a32331574d6c2588c48cba54033dd95ff33e56f17d880911b353b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/breeze-grub-5.21.3.tar.xz">breeze-grub-5.21.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>dfd229b90f2a7d1bbfb9971ca6452f410eaeadfda5bd001587bcdfb22f9917c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/breeze-gtk-5.21.3.tar.xz">breeze-gtk-5.21.3</a></td>
   <td align="right">46kB</td>
   <td><tt>ac45fe545269a70aba4878fdae306d7c6a621e9f7478981f9c0b3a5a42f2abf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/breeze-plymouth-5.21.3.tar.xz">breeze-plymouth-5.21.3</a></td>
   <td align="right">106kB</td>
   <td><tt>bd5e44d55628cfd3f53eccd24efbd3fea7144cd8573ad9ec8be119e9ee502d06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/discover-5.21.3.tar.xz">discover-5.21.3</a></td>
   <td align="right">8.0MB</td>
   <td><tt>ddea3878522968a8e6d923ea7749cee77ad7ba1edfb3f37091bb12c933ec139c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/drkonqi-5.21.3.tar.xz">drkonqi-5.21.3</a></td>
   <td align="right">751kB</td>
   <td><tt>443759b6aae600fabbeb9ca482c90b9d45bacaa9572f458df1b0d90de23e03c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kactivitymanagerd-5.21.3.tar.xz">kactivitymanagerd-5.21.3</a></td>
   <td align="right">97kB</td>
   <td><tt>83a1241edd4b3fb50545eb62d4dd2a73bfb8367d71e65af2017f26275736b7f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kde-cli-tools-5.21.3.tar.xz">kde-cli-tools-5.21.3</a></td>
   <td align="right">595kB</td>
   <td><tt>f72ed4e939a85fc1643784f2fe413b743f3e9f8ce7c8a7ef0dd792d7ffc87542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kdecoration-5.21.3.tar.xz">kdecoration-5.21.3</a></td>
   <td align="right">44kB</td>
   <td><tt>c5d14b8dd6983f22cbf4d34461e912fd38cd49114d01fb25635d7a1a9c7e4319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kde-gtk-config-5.21.3.tar.xz">kde-gtk-config-5.21.3</a></td>
   <td align="right">67kB</td>
   <td><tt>30e88dded1de4f5d096afa20c6ce148da800123c5e8318e44c0540258555de9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kdeplasma-addons-5.21.3.tar.xz">kdeplasma-addons-5.21.3</a></td>
   <td align="right">611kB</td>
   <td><tt>6121ed8b1ad433cdb531aaf8658b41f4b4744c869bae72c109c46a6652570185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kgamma5-5.21.3.tar.xz">kgamma5-5.21.3</a></td>
   <td align="right">80kB</td>
   <td><tt>892c0cf1cc988c8291da4ef080d70df3211920a5dbe99275afdf796a1ae71941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/khotkeys-5.21.3.tar.xz">khotkeys-5.21.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>74051ad637ab49bab81391f8789253e1e0e275a0aa7971ca553dff5a56866ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kinfocenter-5.21.3.tar.xz">kinfocenter-5.21.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>e2cc48fdd873a16baea5e8b8c20e1e97a5c14acfae00458ff261f52abaad44c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kmenuedit-5.21.3.tar.xz">kmenuedit-5.21.3</a></td>
   <td align="right">878kB</td>
   <td><tt>524aeb87739b0320bcd38551b367cff017c26a830669de7c91aaaa10a8d28339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kscreen-5.21.3.tar.xz">kscreen-5.21.3</a></td>
   <td align="right">111kB</td>
   <td><tt>95e20c0967c1dcb5521dddcd6444f3a51a8b6ab5a1bd1e586d6d202469eb2fb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kscreenlocker-5.21.3.tar.xz">kscreenlocker-5.21.3</a></td>
   <td align="right">114kB</td>
   <td><tt>0012c4f0394bc6cd522a8fc4ed78f02e641b55d1baf8a81f6fd926c538bf54c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/ksshaskpass-5.21.3.tar.xz">ksshaskpass-5.21.3</a></td>
   <td align="right">23kB</td>
   <td><tt>da0e1b06673afb12789fd028f2d428d980b85912ceb5e715bc710f5edb9f8299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/ksysguard-5.21.3.tar.xz">ksysguard-5.21.3</a></td>
   <td align="right">589kB</td>
   <td><tt>4ee3595e30a932846dd2ad668231c2fdc7086135ba51d83e3bc6a685658b417b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kwallet-pam-5.21.3.tar.xz">kwallet-pam-5.21.3</a></td>
   <td align="right">19kB</td>
   <td><tt>4372d688ccc5e996e8bc1683939786f40dce3f21113067a5ab21f84ca688d6b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kwayland-integration-5.21.3.tar.xz">kwayland-integration-5.21.3</a></td>
   <td align="right">22kB</td>
   <td><tt>0c7641e27a38094077a204ca10c410b2f4f92c0a077b32a22bb5d5ae572b1c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kwayland-server-5.21.3.tar.xz">kwayland-server-5.21.3</a></td>
   <td align="right">214kB</td>
   <td><tt>4409119a0e8c6dae5295490f965b26c1160b8df863cce6e46287a5ffe9d26a34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kwin-5.21.3.tar.xz">kwin-5.21.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>7c38049930f63875719c4405991c13ab436d2a2d2ad401b006e94250dd8d205a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/kwrited-5.21.3.tar.xz">kwrited-5.21.3</a></td>
   <td align="right">20kB</td>
   <td><tt>ddccbb23c1ce510efc4f84cf4a59fc1aaa7f344e8d24b35b4603a3583149d606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/libkscreen-5.21.3.tar.xz">libkscreen-5.21.3</a></td>
   <td align="right">82kB</td>
   <td><tt>6a6809a3db3a8c0b86869eae8df37b80ad017292dbee9d26077a22626f0f4dc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/libksysguard-5.21.3.1.tar.xz">libksysguard-5.21.3.1</a></td>
   <td align="right">689kB</td>
   <td><tt>e370db775b575106f9d228596d3aa0da3ba568da9c2cf76de6e1d8ab60945e59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/milou-5.21.3.tar.xz">milou-5.21.3</a></td>
   <td align="right">42kB</td>
   <td><tt>ce070712259d601915b327fbf2747d39d3e5b728a24f05e83deed8818e077361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/oxygen-5.21.3.tar.xz">oxygen-5.21.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0afcd178aaaedba660603f1177055db395af4d6693233bf31226ae4a3a0ed29b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-browser-integration-5.21.3.tar.xz">plasma-browser-integration-5.21.3</a></td>
   <td align="right">198kB</td>
   <td><tt>deb4e4de2b821942b4d3096f2193d92459bb6b4b6bdedfe80f77efb1a949e9c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-desktop-5.21.3.tar.xz">plasma-desktop-5.21.3</a></td>
   <td align="right">15MB</td>
   <td><tt>de4f62f6e4612fd796387825cd755edde4784c0386c0d0552deb3b3c44993e2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-disks-5.21.3.tar.xz">plasma-disks-5.21.3</a></td>
   <td align="right">68kB</td>
   <td><tt>58850de94434f61925bb579fdf9eff54f66512f6ca42a7cfba5c2ce8ee6d47a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-firewall-5.21.3.tar.xz">plasma-firewall-5.21.3</a></td>
   <td align="right">322kB</td>
   <td><tt>7ca5bda3bdf7dab10726976aca5d838e651dcb0f30deb540623546fea762f52f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-integration-5.21.3.tar.xz">plasma-integration-5.21.3</a></td>
   <td align="right">59kB</td>
   <td><tt>c1e34f98af9e17062cc10897d49b62867a4957f40469bd2ca01cb546a35bb425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-nano-5.21.3.tar.xz">plasma-nano-5.21.3</a></td>
   <td align="right">63kB</td>
   <td><tt>7288fc02939c2dc8284e3dcded09fe6eeefe012b61df857d84ceda644e1216fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-nm-5.21.3.tar.xz">plasma-nm-5.21.3</a></td>
   <td align="right">875kB</td>
   <td><tt>771c9a4d3f3acdf8c66f7ff1891790c8a7cfa4053500f1e96617b43f4f39fb34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-pa-5.21.3.tar.xz">plasma-pa-5.21.3</a></td>
   <td align="right">110kB</td>
   <td><tt>77453789506c489b36d8b23ba874834f240daf9c9ea2e60dfa3f735decefe99b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-phone-components-5.21.3.tar.xz">plasma-phone-components-5.21.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c0324d46d21eb89f05fb2e7a772f69e25749d06f927f4323a2ed90e9db031bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-sdk-5.21.3.tar.xz">plasma-sdk-5.21.3</a></td>
   <td align="right">262kB</td>
   <td><tt>9c20dec0545a5d1bb4e362b5778acbf2a1e65dabc7f9c07b9c84a155e4594b2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-systemmonitor-5.21.3.tar.xz">plasma-systemmonitor-5.21.3</a></td>
   <td align="right">119kB</td>
   <td><tt>941e7a48d8c68ed072848110764e80e3596aea66a6fb99913301cc7f2bfe3df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-tests-5.21.3.tar.xz">plasma-tests-5.21.3</a></td>
   <td align="right">1kB</td>
   <td><tt>68b660868484cba736485c6e4e5ae808256892766fad5f7c8f2cf67e65e41100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-thunderbolt-5.21.3.tar.xz">plasma-thunderbolt-5.21.3</a></td>
   <td align="right">55kB</td>
   <td><tt>b559889b8569ef7d11cd48efac480644fb146dfabaaf147cd7f32d5e6e5a16c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-vault-5.21.3.tar.xz">plasma-vault-5.21.3</a></td>
   <td align="right">155kB</td>
   <td><tt>323d3d025546524b82b0258e861d5392b65c3f7a7ad9a2c25d98f487bcc1a9e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-workspace-5.21.3.tar.xz">plasma-workspace-5.21.3</a></td>
   <td align="right">9.2MB</td>
   <td><tt>80602e458ebabbf1685c918485bff4cb30eaae71cfd2bf2c4c9cea7a58b74ab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plasma-workspace-wallpapers-5.21.3.tar.xz">plasma-workspace-wallpapers-5.21.3</a></td>
   <td align="right">45MB</td>
   <td><tt>95a6e9da0a652e6584f3727227813fe79a9c4defa7d789126a31fceff09853e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/plymouth-kcm-5.21.3.tar.xz">plymouth-kcm-5.21.3</a></td>
   <td align="right">42kB</td>
   <td><tt>6fe9c43ad461e84e76d1bf455a5c703af5d5a90c665f9918285a826fc0dab772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/polkit-kde-agent-1-5.21.3.tar.xz">polkit-kde-agent-1-5.21.3</a></td>
   <td align="right">44kB</td>
   <td><tt>1b6802f688a8c0e83dc065503447a2e79967c67083799e4896b51813809b171b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/powerdevil-5.21.3.tar.xz">powerdevil-5.21.3</a></td>
   <td align="right">599kB</td>
   <td><tt>ffcbc2ca715377e6652f65744601c95ba0babbde7a15d4f4e8a3fa0ad85e6652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/qqc2-breeze-style-5.21.3.tar.xz">qqc2-breeze-style-5.21.3</a></td>
   <td align="right">60kB</td>
   <td><tt>a4c4ab4a763929fb06092fb2a11c0adf55fa536be47ce504737cc999658ebbf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/sddm-kcm-5.21.3.tar.xz">sddm-kcm-5.21.3</a></td>
   <td align="right">62kB</td>
   <td><tt>5f52bc7dd194f26c9f6fec8a0872026a1eb972fb25cdc0753bda981faf7b98ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/systemsettings-5.21.3.tar.xz">systemsettings-5.21.3</a></td>
   <td align="right">193kB</td>
   <td><tt>1d9518fa792970859d49965209138ee9944a9e1db00ed2eea3337481c4a3d623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.3/xdg-desktop-portal-kde-5.21.3.tar.xz">xdg-desktop-portal-kde-5.21.3</a></td>
   <td align="right">80kB</td>
   <td><tt>3012df6b6127bf7800b7be1fd8674213d0748e17050862dd13b2ca34f89a2117</tt></td>
</tr>

</table>
