<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/akonadi-15.12.0.tar.xz">akonadi-15.12.0</a></td>
   <td align="right">280kB</td>
   <td><tt>aacfc6d03ef183c44275240be8ff7e7cb45b3b80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/akonadi-calendar-15.12.0.tar.xz">akonadi-calendar-15.12.0</a></td>
   <td align="right">112kB</td>
   <td><tt>6aeb84b8e2f320c623c014e7c8c3f959bc87bf31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/akonadi-search-15.12.0.tar.xz">akonadi-search-15.12.0</a></td>
   <td align="right">68kB</td>
   <td><tt>e571c6933218dfaffa321d4e0ecc437f5088249c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/analitza-15.12.0.tar.xz">analitza-15.12.0</a></td>
   <td align="right">227kB</td>
   <td><tt>a579cf0f2ab409e4190ba7e6c1832059fbfe9d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ark-15.12.0.tar.xz">ark-15.12.0</a></td>
   <td align="right">246kB</td>
   <td><tt>85c1c5ba5a126480a43967c0a0c22e54c794b97f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/artikulate-15.12.0.tar.xz">artikulate-15.12.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>18e432eae285415816abe0023f2ab9790ec45400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/audiocd-kio-15.12.0.tar.xz">audiocd-kio-15.12.0</a></td>
   <td align="right">50kB</td>
   <td><tt>836d81463c230ae5a46e82279c606d5e952a0a79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/baloo-widgets-15.12.0.tar.xz">baloo-widgets-15.12.0</a></td>
   <td align="right">55kB</td>
   <td><tt>8ece79355c5b5cd7e7cd0dea893d4eeea5d50395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/blinken-15.12.0.tar.xz">blinken-15.12.0</a></td>
   <td align="right">554kB</td>
   <td><tt>41b539514080a4b9a7019d55e0339eb126dbba76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/bomber-15.12.0.tar.xz">bomber-15.12.0</a></td>
   <td align="right">384kB</td>
   <td><tt>69b8fa3bc16714b2469998109258d20014990762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/bovo-15.12.0.tar.xz">bovo-15.12.0</a></td>
   <td align="right">103kB</td>
   <td><tt>1b802cc48ce8fe3be92e0d947b5d35c08e12d4d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/cantor-15.12.0.tar.xz">cantor-15.12.0</a></td>
   <td align="right">341kB</td>
   <td><tt>3a0d552ba608b3e10100eccf45010e28e3bbf229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/cervisia-15.12.0.tar.xz">cervisia-15.12.0</a></td>
   <td align="right">365kB</td>
   <td><tt>daeaa309e5194722456de278799757c1ff41a051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/dolphin-15.12.0.tar.xz">dolphin-15.12.0</a></td>
   <td align="right">642kB</td>
   <td><tt>a95c8b917002068d9ef932037fc4a1d6905a5c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/dolphin-plugins-15.12.0.tar.xz">dolphin-plugins-15.12.0</a></td>
   <td align="right">59kB</td>
   <td><tt>9b42a9e2d1135e1efd065f58167f15096705f61e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/dragon-15.12.0.tar.xz">dragon-15.12.0</a></td>
   <td align="right">393kB</td>
   <td><tt>f687559ce9442b7e2574bc2182f11f16a0b3e6e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ffmpegthumbs-15.12.0.tar.xz">ffmpegthumbs-15.12.0</a></td>
   <td align="right">19kB</td>
   <td><tt>389173bb03c4f02a6bc22ba701830744ef0af2bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/filelight-15.12.0.tar.xz">filelight-15.12.0</a></td>
   <td align="right">281kB</td>
   <td><tt>7b791cd8f659d41dc3c5cdbf1f492f9d7099c810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/gpgmepp-15.12.0.tar.xz">gpgmepp-15.12.0</a></td>
   <td align="right">66kB</td>
   <td><tt>0b44e711be9fb16b39771d07d01da7dcd390468d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/granatier-15.12.0.tar.xz">granatier-15.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a82622777934636dba6cdb1b687faa19eaab81e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/gwenview-15.12.0.tar.xz">gwenview-15.12.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>4eb0916975ac776ac77b266e53ba8df50f96c0a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/jovie-15.12.0.tar.xz">jovie-15.12.0</a></td>
   <td align="right">383kB</td>
   <td><tt>74148c004ab6d0a5f1e7e169a0a57dea766946e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/juk-15.12.0.tar.xz">juk-15.12.0</a></td>
   <td align="right">435kB</td>
   <td><tt>33fae3e9c3167efb642949414ffb5c619e38a8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kaccessible-15.12.0.tar.xz">kaccessible-15.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>556a41385f67af8f8972bad8de7bdf9d779dc18a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kaccounts-integration-15.12.0.tar.xz">kaccounts-integration-15.12.0</a></td>
   <td align="right">44kB</td>
   <td><tt>ef4939224f596236ec5e17adbef933780244aec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kaccounts-providers-15.12.0.tar.xz">kaccounts-providers-15.12.0</a></td>
   <td align="right">16kB</td>
   <td><tt>2f6ef503029ea8ddb745d62d87530a96de61d8e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kajongg-15.12.0.tar.xz">kajongg-15.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cecacd041079ac6ac7ff197d9e1b8e62221ba671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kalarmcal-15.12.0.tar.xz">kalarmcal-15.12.0</a></td>
   <td align="right">85kB</td>
   <td><tt>affa16e13e6f468a650db811455c9e27bf515ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kalgebra-15.12.0.tar.xz">kalgebra-15.12.0</a></td>
   <td align="right">250kB</td>
   <td><tt>3b171337a25c169e41811e27b1c693b251e82882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kalzium-15.12.0.tar.xz">kalzium-15.12.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>eb92157d5cd0605f8d2eaed3ec94b90ca2cb792e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kamera-15.12.0.tar.xz">kamera-15.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>ebf9bde97fe67dfea89237ec66d1d8f2cfd38e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kanagram-15.12.0.tar.xz">kanagram-15.12.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>8a6edc2827227198679050990ecee5920cf9c898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kapman-15.12.0.tar.xz">kapman-15.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>afccded5b891d80801c14e3e6faedaf4c98dd44b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kapptemplate-15.12.0.tar.xz">kapptemplate-15.12.0</a></td>
   <td align="right">672kB</td>
   <td><tt>35c5e5de2e1551775975c2616d19d23375f43ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kate-15.12.0.tar.xz">kate-15.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1036e78967774d3120e75a53a92e02b2cec3a928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/katomic-15.12.0.tar.xz">katomic-15.12.0</a></td>
   <td align="right">646kB</td>
   <td><tt>abb7b462ee2f0db50ab3ae1f5f134e0ab64987c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kblackbox-15.12.0.tar.xz">kblackbox-15.12.0</a></td>
   <td align="right">255kB</td>
   <td><tt>5a533f1848212921ec62aa8b1030ee93bd4abd3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kblocks-15.12.0.tar.xz">kblocks-15.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>169a2af1156bfeecac06eb0a3c2db8250d05ed14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kblog-15.12.0.tar.xz">kblog-15.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>3858f06a42d308b44126305b5d5f334532e138cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kbounce-15.12.0.tar.xz">kbounce-15.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>288c6ddc09250bab38b5b28b11c5a9f37d85b666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kbreakout-15.12.0.tar.xz">kbreakout-15.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c151fbc4155a36d358df75341a2aedd832eff3dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kbruch-15.12.0.tar.xz">kbruch-15.12.0</a></td>
   <td align="right">883kB</td>
   <td><tt>b71347d71520c5ff69dd0ea3143898cce314c77d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kcachegrind-15.12.0.tar.xz">kcachegrind-15.12.0</a></td>
   <td align="right">232kB</td>
   <td><tt>bf9642d5b8fb02ef5ef6f5c7d007dd5be06f3feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kcalc-15.12.0.tar.xz">kcalc-15.12.0</a></td>
   <td align="right">81kB</td>
   <td><tt>778912bfdb2fdea32685b0bfc4fe7449eddba0d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kcalcore-15.12.0.tar.xz">kcalcore-15.12.0</a></td>
   <td align="right">285kB</td>
   <td><tt>c2a09128916fdc87c65b9463dcf0cae3caf4361d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kcalutils-15.12.0.tar.xz">kcalutils-15.12.0</a></td>
   <td align="right">68kB</td>
   <td><tt>b707ff359041683bb0c0e13f31acc4956e84fe34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kcharselect-15.12.0.tar.xz">kcharselect-15.12.0</a></td>
   <td align="right">70kB</td>
   <td><tt>cd196a5675a56ac6050dbab1d62e0221066125b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kcolorchooser-15.12.0.tar.xz">kcolorchooser-15.12.0</a></td>
   <td align="right">4kB</td>
   <td><tt>18390f0ea06cddd9df04f298e7c6cdbb23403adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kcontacts-15.12.0.tar.xz">kcontacts-15.12.0</a></td>
   <td align="right">132kB</td>
   <td><tt>4b9f273f96cb83508ca66604868f46310245a0ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kcron-15.12.0.tar.xz">kcron-15.12.0</a></td>
   <td align="right">136kB</td>
   <td><tt>46fe0d452fa391859b8b11c7c12e9bf29d9c9e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-baseapps-15.12.0.tar.xz">kde-baseapps-15.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4b111c8ab4982edb661674ec1045b83537997642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdebugsettings-15.12.0.tar.xz">kdebugsettings-15.12.0</a></td>
   <td align="right">22kB</td>
   <td><tt>31376a0c739a4a8b112afaffe31afac9d6526493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-dev-scripts-15.12.0.tar.xz">kde-dev-scripts-15.12.0</a></td>
   <td align="right">301kB</td>
   <td><tt>5d60a9baf676ee442af04aa1155fd3f26531c0ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-dev-utils-15.12.0.tar.xz">kde-dev-utils-15.12.0</a></td>
   <td align="right">50kB</td>
   <td><tt>4835f0667e19faaac44a8959d895c3dd7a4b0ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdeedu-data-15.12.0.tar.xz">kdeedu-data-15.12.0</a></td>
   <td align="right">94kB</td>
   <td><tt>f95bddd3b2144a7c1228619f9b1628abdfed24be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdegraphics-mobipocket-15.12.0.tar.xz">kdegraphics-mobipocket-15.12.0</a></td>
   <td align="right">14kB</td>
   <td><tt>31c10e2c77ed56153ab8c2d38c7b1b79b3fbd997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdegraphics-strigi-analyzer-15.12.0.tar.xz">kdegraphics-strigi-analyzer-15.12.0</a></td>
   <td align="right">39kB</td>
   <td><tt>22e02fabd2d29ac601f616e51901f3e32e156827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdegraphics-thumbnailers-15.12.0.tar.xz">kdegraphics-thumbnailers-15.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>284fb3881a11d7f449920dac0903179bf7b32563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdelibs-4.14.15.tar.xz">kdelibs-4.14.15</a></td>
   <td align="right">11MB</td>
   <td><tt>7a50824fbcd2a4a72c8780da7b1425b038415419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdenetwork-filesharing-15.12.0.tar.xz">kdenetwork-filesharing-15.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>720eb3f7b824736c11ba7545888c76e4466bb471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdenetwork-strigi-analyzers-15.12.0.tar.xz">kdenetwork-strigi-analyzers-15.12.0</a></td>
   <td align="right">14kB</td>
   <td><tt>6a626c45fd1394bde1f61018862a45000509a98d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdenlive-15.12.0.tar.xz">kdenlive-15.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>43dcb2534de52daf02516e2d713288a4c72bd4ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdepim-15.12.0.tar.xz">kdepim-15.12.0</a></td>
   <td align="right">12MB</td>
   <td><tt>7308191135cf17fc7fa44014b9f016222a8341d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdepimlibs-15.12.0.tar.xz">kdepimlibs-15.12.0</a></td>
   <td align="right">992kB</td>
   <td><tt>9e2230bbeb9139e42ca6c8e828fa01a747b7337d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdepim-runtime-15.12.0.tar.xz">kdepim-runtime-15.12.0</a></td>
   <td align="right">685kB</td>
   <td><tt>e354c7796cf3b4f2e948cdec01f2b3cbaf05afdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-runtime-15.12.0.tar.xz">kde-runtime-15.12.0</a></td>
   <td align="right">7.5MB</td>
   <td><tt>30da08dfb51fade220df7f8cf3e3eab5669a2e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdesdk-kioslaves-15.12.0.tar.xz">kdesdk-kioslaves-15.12.0</a></td>
   <td align="right">352kB</td>
   <td><tt>ff882255fbe1010aec89549a95cccf132c351851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdesdk-strigi-analyzers-15.12.0.tar.xz">kdesdk-strigi-analyzers-15.12.0</a></td>
   <td align="right">17kB</td>
   <td><tt>81732b9e4334f7b8940ee4e9e6076da9ab138789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdesdk-thumbnailers-15.12.0.tar.xz">kdesdk-thumbnailers-15.12.0</a></td>
   <td align="right">11kB</td>
   <td><tt>7ec0c92beb2a85eceef303a388be9eecea00008c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdewebdev-15.12.0.tar.xz">kdewebdev-15.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>52e4aa0b89ab5df4cee817f652feead3beebfa9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdf-15.12.0.tar.xz">kdf-15.12.0</a></td>
   <td align="right">145kB</td>
   <td><tt>5b21835defa47176bdd86789e27579ae5d59a5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kdiamond-15.12.0.tar.xz">kdiamond-15.12.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>22ae55d1381a3d88950688feaac2b8d8da6af5be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kfloppy-15.12.0.tar.xz">kfloppy-15.12.0</a></td>
   <td align="right">52kB</td>
   <td><tt>bb5203e5e0fe379a15e79ac8f11ced8eb265ade0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kfourinline-15.12.0.tar.xz">kfourinline-15.12.0</a></td>
   <td align="right">274kB</td>
   <td><tt>60fbe1e8df449f3c2d3c757ac6b03527afc95715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kgeography-15.12.0.tar.xz">kgeography-15.12.0</a></td>
   <td align="right">6.4MB</td>
   <td><tt>388416aa351c3bb80c3cf34ca442130c20a4e863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kget-15.12.0.tar.xz">kget-15.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3d43741582654987400299213e91f5fad36fddc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kgoldrunner-15.12.0.tar.xz">kgoldrunner-15.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4b1f29614ee5b0e00b7b62d115e3ef7adb217916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kgpg-15.12.0.tar.xz">kgpg-15.12.0</a></td>
   <td align="right">791kB</td>
   <td><tt>4b47471fe9fb1a547e552d76b77b515541fd37c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/khangman-15.12.0.tar.xz">khangman-15.12.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>126db2863ce611ce9225b2897b841da2c011dd34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kholidays-15.12.0.tar.xz">kholidays-15.12.0</a></td>
   <td align="right">170kB</td>
   <td><tt>d85e695f486561c82e586566e2b7b223535bd789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kidentitymanagement-15.12.0.tar.xz">kidentitymanagement-15.12.0</a></td>
   <td align="right">35kB</td>
   <td><tt>33d0debacd2890f58eeca0a9e46cd6d05135a6b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kig-15.12.0.tar.xz">kig-15.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d830fd3c6b91a17af9545dc4df36dfd4870ac17f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kigo-15.12.0.tar.xz">kigo-15.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>58aa88e629c161c9317475d8293aa600709eb988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/killbots-15.12.0.tar.xz">killbots-15.12.0</a></td>
   <td align="right">941kB</td>
   <td><tt>af172b38d09934a293e7e81cb14a984e70bbe617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kimap-15.12.0.tar.xz">kimap-15.12.0</a></td>
   <td align="right">87kB</td>
   <td><tt>e159b3c5ca5b1018dff9460c3a6455630b2e2480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kio-extras-15.12.0.tar.xz">kio-extras-15.12.0</a></td>
   <td align="right">260kB</td>
   <td><tt>0d92f801041e740b81fccdae76014783b45e4959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kiriki-15.12.0.tar.xz">kiriki-15.12.0</a></td>
   <td align="right">117kB</td>
   <td><tt>d0ec868c5d7e4e30b606aad9bacc5ee4cc4785f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kiten-15.12.0.tar.xz">kiten-15.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>2a115c11f1a3e5b795618252a6cb2ad6d1f25e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kjumpingcube-15.12.0.tar.xz">kjumpingcube-15.12.0</a></td>
   <td align="right">161kB</td>
   <td><tt>0e01e8ff237a17371f1d1cc27f093e742bc89a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kldap-15.12.0.tar.xz">kldap-15.12.0</a></td>
   <td align="right">52kB</td>
   <td><tt>71cbb2aa9cce5301f05e9cafa19520dc5f540863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/klettres-15.12.0.tar.xz">klettres-15.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b22dcbf1bf6c7de7a46458e76c74e8b755332e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/klickety-15.12.0.tar.xz">klickety-15.12.0</a></td>
   <td align="right">768kB</td>
   <td><tt>c7e3e657a615b0a23cd92e9c4723f19d34d707be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/klines-15.12.0.tar.xz">klines-15.12.0</a></td>
   <td align="right">928kB</td>
   <td><tt>e69dbe95b82e7ca9f06e48021ffe7f07084004eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmag-15.12.0.tar.xz">kmag-15.12.0</a></td>
   <td align="right">84kB</td>
   <td><tt>2e8c923e5c4b91337fcafab5d18212f199e817d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmahjongg-15.12.0.tar.xz">kmahjongg-15.12.0</a></td>
   <td align="right">984kB</td>
   <td><tt>96e7e0f24a7403b170ab59b08dae72406be332ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmailtransport-15.12.0.tar.xz">kmailtransport-15.12.0</a></td>
   <td align="right">63kB</td>
   <td><tt>053feeb0a8c2025432831f9e91b047604787f5f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmbox-15.12.0.tar.xz">kmbox-15.12.0</a></td>
   <td align="right">23kB</td>
   <td><tt>d3a4f5a4948c864215970a22c7a8bc77f88676e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmime-15.12.0.tar.xz">kmime-15.12.0</a></td>
   <td align="right">119kB</td>
   <td><tt>a21f65e3258e3f3c9998c25461b2e18ee805b2c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmines-15.12.0.tar.xz">kmines-15.12.0</a></td>
   <td align="right">609kB</td>
   <td><tt>d1c9d86b37bd3f732f202670cd36c4140036b010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmix-15.12.0.tar.xz">kmix-15.12.0</a></td>
   <td align="right">380kB</td>
   <td><tt>6a96dcbfd854244b8c6d40ecd62f7dc48f7b6a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmousetool-15.12.0.tar.xz">kmousetool-15.12.0</a></td>
   <td align="right">35kB</td>
   <td><tt>6a9cf18a30f5ead7dd3748c57fc280e2267c957b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmouth-15.12.0.tar.xz">kmouth-15.12.0</a></td>
   <td align="right">270kB</td>
   <td><tt>17d5d6ac2aeca890a7ee8dc192cecc69bee97e67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kmplot-15.12.0.tar.xz">kmplot-15.12.0</a></td>
   <td align="right">647kB</td>
   <td><tt>af54e535d20480c1f3722eb427b4a4d03d99d724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/knavalbattle-15.12.0.tar.xz">knavalbattle-15.12.0</a></td>
   <td align="right">889kB</td>
   <td><tt>5122a4647cda393e88baa2ac21a7243ff1e0dbd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/knetwalk-15.12.0.tar.xz">knetwalk-15.12.0</a></td>
   <td align="right">765kB</td>
   <td><tt>58f07e278e38414336606a115601a7b05198966d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kolf-15.12.0.tar.xz">kolf-15.12.0</a></td>
   <td align="right">749kB</td>
   <td><tt>b848a8de2df3d0459f1fa3021efed2c5721c1acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kollision-15.12.0.tar.xz">kollision-15.12.0</a></td>
   <td align="right">204kB</td>
   <td><tt>a1f2f9ba27d21e16087eb5f9f5d1bc1d131e1e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kolourpaint-15.12.0.tar.xz">kolourpaint-15.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>19ebaf38e09f5b3bd4d3b906fdf24fabf3f95a46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kompare-15.12.0.tar.xz">kompare-15.12.0</a></td>
   <td align="right">336kB</td>
   <td><tt>b3dfcdaaad5caa6d4bb2fa49e1cdae41fbc5d452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/konquest-15.12.0.tar.xz">konquest-15.12.0</a></td>
   <td align="right">396kB</td>
   <td><tt>c77ef5e45abd1928f851f26b564732832a0067d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/konsole-15.12.0.tar.xz">konsole-15.12.0</a></td>
   <td align="right">448kB</td>
   <td><tt>56bcfda7fb33b957c75e96efa8b48318e3799a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kontactinterface-15.12.0.tar.xz">kontactinterface-15.12.0</a></td>
   <td align="right">24kB</td>
   <td><tt>9404f398cf59fe0178adf7b33897573be755616e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kopete-15.12.0.tar.xz">kopete-15.12.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>ca45500e134b4fff6a05d7b021ab7d982d95b197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kpat-15.12.0.tar.xz">kpat-15.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ac6b85f6f44df328b73dd3b82ab339d6f6f9e21a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kpimtextedit-15.12.0.tar.xz">kpimtextedit-15.12.0</a></td>
   <td align="right">75kB</td>
   <td><tt>ee5414dec67485772fdcba388beeea38b4d117b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kppp-15.12.0.tar.xz">kppp-15.12.0</a></td>
   <td align="right">683kB</td>
   <td><tt>de23b10a30b65a93fee448c8304373351ed60ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kqtquickcharts-15.12.0.tar.xz">kqtquickcharts-15.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>f4c9c7c678732d3dfa19c52a6b9f50109f4f0efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/krdc-15.12.0.tar.xz">krdc-15.12.0</a></td>
   <td align="right">389kB</td>
   <td><tt>dd12210a06d73019a4ce8a9a049923e5fbf31221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kremotecontrol-15.12.0.tar.xz">kremotecontrol-15.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>530440ca9fbdec23be3ece9537bfb4a7ad8af535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kreversi-15.12.0.tar.xz">kreversi-15.12.0</a></td>
   <td align="right">464kB</td>
   <td><tt>2f9eb507051582b961a0ba8f4ffef2982da461a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/krfb-15.12.0.tar.xz">krfb-15.12.0</a></td>
   <td align="right">317kB</td>
   <td><tt>e99ed08195d90fd68f4d23eae3ebf3ecd33f612e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kross-interpreters-15.12.0.tar.xz">kross-interpreters-15.12.0</a></td>
   <td align="right">129kB</td>
   <td><tt>83b8d174d14628b1fdd7bd5142aeeb8e42fe8cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kruler-15.12.0.tar.xz">kruler-15.12.0</a></td>
   <td align="right">120kB</td>
   <td><tt>4315ecce4a1dbd61eb7a8755411e60ad46cd7329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ksaneplugin-15.12.0.tar.xz">ksaneplugin-15.12.0</a></td>
   <td align="right">12kB</td>
   <td><tt>651d9fe094e0c7832c6398c272685fb15c24c1cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kscd-15.12.0.tar.xz">kscd-15.12.0</a></td>
   <td align="right">90kB</td>
   <td><tt>e2d7a624e1a8ea888e7b78be4d9ce620dec6a2f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kshisen-15.12.0.tar.xz">kshisen-15.12.0</a></td>
   <td align="right">135kB</td>
   <td><tt>f7569ab3ee80a2cbcd70bc0c1f033076020ed346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ksirk-15.12.0.tar.xz">ksirk-15.12.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>8781be0f612ab5b9ddcd3c18b7b14f7104159117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ksnakeduel-15.12.0.tar.xz">ksnakeduel-15.12.0</a></td>
   <td align="right">290kB</td>
   <td><tt>21de214cbeab4a337b9649fec9d4d406a1d05869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kspaceduel-15.12.0.tar.xz">kspaceduel-15.12.0</a></td>
   <td align="right">247kB</td>
   <td><tt>99ad188c254c23ae5f15b4346dde6539705dd9f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ksquares-15.12.0.tar.xz">ksquares-15.12.0</a></td>
   <td align="right">78kB</td>
   <td><tt>457b769e007c2a288aa6472ced0028217b9b0f62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kstars-15.12.0.tar.xz">kstars-15.12.0</a></td>
   <td align="right">16MB</td>
   <td><tt>6d6895eb7e23617934e1ca345ee76c434f29f785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ksudoku-15.12.0.tar.xz">ksudoku-15.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0b7bff9be6b93fd46a52b1b1188142545201c08a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ksystemlog-15.12.0.tar.xz">ksystemlog-15.12.0</a></td>
   <td align="right">386kB</td>
   <td><tt>c3e0c804f94d8f82ee3ccb693a71673ad6006223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kteatime-15.12.0.tar.xz">kteatime-15.12.0</a></td>
   <td align="right">102kB</td>
   <td><tt>ee393401c4396666365fe131b66babd18284fccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktimer-15.12.0.tar.xz">ktimer-15.12.0</a></td>
   <td align="right">157kB</td>
   <td><tt>5889333be13f38ea9679b83436e4d8cdfab769f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktnef-15.12.0.tar.xz">ktnef-15.12.0</a></td>
   <td align="right">227kB</td>
   <td><tt>6a699118fb184d6f574bdd90cf309ffaa1f7c230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktouch-15.12.0.tar.xz">ktouch-15.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d22014bb02854bd4311a4d6a04b08c7b9cfdd68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-accounts-kcm-15.12.0.tar.xz">ktp-accounts-kcm-15.12.0</a></td>
   <td align="right">86kB</td>
   <td><tt>fad762df1aac2ff486f4dad7c09e00e34d112675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-approver-15.12.0.tar.xz">ktp-approver-15.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>9ea6688428bb0a4494a65951ff73534f5c7780cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-auth-handler-15.12.0.tar.xz">ktp-auth-handler-15.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>5b0f990c665588a876b42437feb4f38b5c0828a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-common-internals-15.12.0.tar.xz">ktp-common-internals-15.12.0</a></td>
   <td align="right">308kB</td>
   <td><tt>649ceaba2039d4d3db5417afba20cd9684371ab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-contact-list-15.12.0.tar.xz">ktp-contact-list-15.12.0</a></td>
   <td align="right">47kB</td>
   <td><tt>87fc8b8835875ea9f870219f3a5d0b4a3cbcee67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-contact-runner-15.12.0.tar.xz">ktp-contact-runner-15.12.0</a></td>
   <td align="right">16kB</td>
   <td><tt>62641d7bba45b7e19ae8b0814f97d348390e6359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-desktop-applets-15.12.0.tar.xz">ktp-desktop-applets-15.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>c18d6238d58ba3579260303cb5bb95320aca4169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-filetransfer-handler-15.12.0.tar.xz">ktp-filetransfer-handler-15.12.0</a></td>
   <td align="right">22kB</td>
   <td><tt>c57e06852359e8d4ef3b6242fa2c9c0dbb301bff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-kded-module-15.12.0.tar.xz">ktp-kded-module-15.12.0</a></td>
   <td align="right">37kB</td>
   <td><tt>aa1e68ce3a504aa29130af47c538c142c70bd404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-send-file-15.12.0.tar.xz">ktp-send-file-15.12.0</a></td>
   <td align="right">14kB</td>
   <td><tt>3bb21fde4cfd4d2142f291b187902fa2957f034d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktp-text-ui-15.12.0.tar.xz">ktp-text-ui-15.12.0</a></td>
   <td align="right">287kB</td>
   <td><tt>34cd0f525ffdfde5d369349ac91de2654ab1c1d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/ktuberling-15.12.0.tar.xz">ktuberling-15.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>70fcfe09cb2d296c30ada8c1e36233b0e683637f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kturtle-15.12.0.tar.xz">kturtle-15.12.0</a></td>
   <td align="right">189kB</td>
   <td><tt>269ddeebd275da592228a2f68120d9d34be043a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kubrick-15.12.0.tar.xz">kubrick-15.12.0</a></td>
   <td align="right">104kB</td>
   <td><tt>097e27d006e49e698e8b826cdf30748ae5d7eb0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kuser-15.12.0.tar.xz">kuser-15.12.0</a></td>
   <td align="right">132kB</td>
   <td><tt>f51eecb3e376521129af914154d6347a9fc3323f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kwalletmanager-15.12.0.tar.xz">kwalletmanager-15.12.0</a></td>
   <td align="right">446kB</td>
   <td><tt>5e4d8d027b2f65451902cce6fa366e57d1766dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kwordquiz-15.12.0.tar.xz">kwordquiz-15.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c4f58a152d6620b3639245a1ffe0c886aa9f37aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkcddb-15.12.0.tar.xz">libkcddb-15.12.0</a></td>
   <td align="right">154kB</td>
   <td><tt>8266083b54c3b1ed94529799a1d90573b418356f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkcompactdisc-15.12.0.tar.xz">libkcompactdisc-15.12.0</a></td>
   <td align="right">74kB</td>
   <td><tt>69fe8b3b6c64edd904eaec6d83655551627cbfbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkdcraw-15.12.0.tar.xz">libkdcraw-15.12.0</a></td>
   <td align="right">41kB</td>
   <td><tt>0d4d2fb6897eb84cab42705d6a4f16f901f5aa2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkdeedu-15.12.0.tar.xz">libkdeedu-15.12.0</a></td>
   <td align="right">128kB</td>
   <td><tt>3aa4a9d860fb47290cdffcac320c47afebc59939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkdegames-15.12.0.tar.xz">libkdegames-15.12.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>d0cd66a7363d5f0ddf013863ed5f97897c03eae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkeduvocdocument-15.12.0.tar.xz">libkeduvocdocument-15.12.0</a></td>
   <td align="right">96kB</td>
   <td><tt>2256748b9ce89ae48f6c4551350f519bb0d26ce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkexiv2-15.12.0.tar.xz">libkexiv2-15.12.0</a></td>
   <td align="right">63kB</td>
   <td><tt>4c068f67a099a2f82bd438097455aab7c965202f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkface-15.12.0.tar.xz">libkface-15.12.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>2b19fa4fd87e4226c327c6e9c0362d8dc7903654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkgeomap-15.12.0.tar.xz">libkgeomap-15.12.0</a></td>
   <td align="right">122kB</td>
   <td><tt>8ccce45f2e96c5a61d14f3c1f8563fc69109eaec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkipi-15.12.0.tar.xz">libkipi-15.12.0</a></td>
   <td align="right">96kB</td>
   <td><tt>e39dbeca223b1f317c8448b49a71a704a31348bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkmahjongg-15.12.0.tar.xz">libkmahjongg-15.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6833789e90ae9373e521230300d9ae0479e70a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libkomparediff2-15.12.0.tar.xz">libkomparediff2-15.12.0</a></td>
   <td align="right">55kB</td>
   <td><tt>1280811b94ac3fb75ff05877417c0b1c6a4824e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/libksane-15.12.0.tar.xz">libksane-15.12.0</a></td>
   <td align="right">79kB</td>
   <td><tt>0c69697a66d6d0908d3822ecebedb08c2c424942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/lokalize-15.12.0.tar.xz">lokalize-15.12.0</a></td>
   <td align="right">932kB</td>
   <td><tt>8bddbb18a8df7473d7b4ed562762c9e49f438a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/lskat-15.12.0.tar.xz">lskat-15.12.0</a></td>
   <td align="right">907kB</td>
   <td><tt>3ab4e2d3a6122889dff924dcc68e67733ff63e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/marble-15.12.0.tar.xz">marble-15.12.0</a></td>
   <td align="right">22MB</td>
   <td><tt>8fd4ac20c00e94a8f9abf425ff939a1fdca2f802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/mplayerthumbs-15.12.0.tar.xz">mplayerthumbs-15.12.0</a></td>
   <td align="right">26kB</td>
   <td><tt>74054cce6288d9a3fea0b6ea92086a58483f91c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/okteta-15.12.0.tar.xz">okteta-15.12.0</a></td>
   <td align="right">492kB</td>
   <td><tt>c3bc9f0d3b79b56372e9985d9c6d6dabcff67b81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/okular-15.12.0.tar.xz">okular-15.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8c4a3d17741b8b3bda8386fb8698a47e33af407d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/palapeli-15.12.0.tar.xz">palapeli-15.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bbf8191586a2f3783aee91c4881fc621e9c98393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/parley-15.12.0.tar.xz">parley-15.12.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>ff6f6931db8af7a09d55c555a169c37587a7ee1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/picmi-15.12.0.tar.xz">picmi-15.12.0</a></td>
   <td align="right">717kB</td>
   <td><tt>97ccf609c2cc4fad02f64fd96adb8e8b40cdb039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/poxml-15.12.0.tar.xz">poxml-15.12.0</a></td>
   <td align="right">31kB</td>
   <td><tt>b7ef5b2e4e2db2f43b4d9edbca9a0e0af565a292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/print-manager-15.12.0.tar.xz">print-manager-15.12.0</a></td>
   <td align="right">91kB</td>
   <td><tt>1e577904a67eb267f5425a553247085abcedb223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/rocs-15.12.0.tar.xz">rocs-15.12.0</a></td>
   <td align="right">520kB</td>
   <td><tt>84b20be1b926cfe99a9afa049776d22e4ca53cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/signon-kwallet-extension-15.12.0.tar.xz">signon-kwallet-extension-15.12.0</a></td>
   <td align="right">10kB</td>
   <td><tt>7277b81edf9273ab2a537e831357d5a38cf23822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/spectacle-15.12.0.tar.xz">spectacle-15.12.0</a></td>
   <td align="right">959kB</td>
   <td><tt>06747ca0174fe261236d76f53c3e4ecff3df7f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/step-15.12.0.tar.xz">step-15.12.0</a></td>
   <td align="right">379kB</td>
   <td><tt>9eb65156cfd2ca8bcc7e228b0112acf4083bd1b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/svgpart-15.12.0.tar.xz">svgpart-15.12.0</a></td>
   <td align="right">8kB</td>
   <td><tt>a963d61e5bc6164f0af1a3687df0d4f42d62a7be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/sweeper-15.12.0.tar.xz">sweeper-15.12.0</a></td>
   <td align="right">80kB</td>
   <td><tt>5b9f01b2dea267cf9ca02daa5296a085dd3ad269</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/syndication-15.12.0.tar.xz">syndication-15.12.0</a></td>
   <td align="right">156kB</td>
   <td><tt>7fb780b7a595127a575d1b5f330e76afb89fd975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/umbrello-15.12.0.tar.xz">umbrello-15.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>73c3b75f04b97e98f6cf40f5a851ad2a9e49225b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/zeroconf-ioslave-15.12.0.tar.xz">zeroconf-ioslave-15.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>015f7acfeb3e77a3139322567e5026a11490973c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ar-15.12.0.tar.xz">kde-l10n-ar-15.12.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>3993875e7f86febe2f0611d2cb0b26a21a57fc0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-bg-15.12.0.tar.xz">kde-l10n-bg-15.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8724ccf972377eb27796cdf97989dc5a3b3d2869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-bs-15.12.0.tar.xz">kde-l10n-bs-15.12.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>8f38bb3bb3634d8ef67be4e638a58d0bc7d1b07a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ca-15.12.0.tar.xz">kde-l10n-ca-15.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>37c0b5a08cc63956d4c94c9f969ff9139932da4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ca@valencia-15.12.0.tar.xz">kde-l10n-ca@valencia-15.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4d393e68ef20f364692206b25f36f157eff2ecec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-cs-15.12.0.tar.xz">kde-l10n-cs-15.12.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a6a8b4d0680b1f41599ff234c3600fa10cc9a3d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-da-15.12.0.tar.xz">kde-l10n-da-15.12.0</a></td>
   <td align="right">12MB</td>
   <td><tt>d476adcceac8ce817c5e0546f4aa2d851ae673d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-de-15.12.0.tar.xz">kde-l10n-de-15.12.0</a></td>
   <td align="right">34MB</td>
   <td><tt>a29c4c190290ee9d93371e1c6316acbd9bcb3527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-el-15.12.0.tar.xz">kde-l10n-el-15.12.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>6e9f12fbce8bae3d9ca4e00f95fbb28de4567e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-en_GB-15.12.0.tar.xz">kde-l10n-en_GB-15.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f81915124059d2d92138b217e0fff41cd0752227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-eo-15.12.0.tar.xz">kde-l10n-eo-15.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5efebdc1728adb9ac492adfb01fe51e562fc562c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-es-15.12.0.tar.xz">kde-l10n-es-15.12.0</a></td>
   <td align="right">20MB</td>
   <td><tt>61f13a1bd8ed98e3db63cdcea2ce1478c3545bac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-et-15.12.0.tar.xz">kde-l10n-et-15.12.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>9930d10cb3081b9157aef3cb78e5a5a9ff3a44e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-eu-15.12.0.tar.xz">kde-l10n-eu-15.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>cb93365eae63f888a956ea45e26d63a1b8ed15e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-fa-15.12.0.tar.xz">kde-l10n-fa-15.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c4e0578a3878e0d7b7659de670022e8a07ed055c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-fi-15.12.0.tar.xz">kde-l10n-fi-15.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>854ca68e7e19182c9ba2e0b0951a09f5c77d3be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-fr-15.12.0.tar.xz">kde-l10n-fr-15.12.0</a></td>
   <td align="right">45MB</td>
   <td><tt>7f6d7ab7c88f2c5674cd4031fb74d1cf7e7ee828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ga-15.12.0.tar.xz">kde-l10n-ga-15.12.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>526849cc8fe35058a1aa095202401f5161ee547f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-gl-15.12.0.tar.xz">kde-l10n-gl-15.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>d0163fbf091674342b62ed2872f76554f8500ffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-he-15.12.0.tar.xz">kde-l10n-he-15.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4c9054ff407ae573889d1ecf655b8200e95868af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-hi-15.12.0.tar.xz">kde-l10n-hi-15.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a41a746b60acee4d67758e2c14154b576b6fede1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-hr-15.12.0.tar.xz">kde-l10n-hr-15.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3a7728ca6852e63063920cb37b2c7fe056d59974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-hu-15.12.0.tar.xz">kde-l10n-hu-15.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>0071b136d0a130040d83fa01725ab746ee3b0629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ia-15.12.0.tar.xz">kde-l10n-ia-15.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d7ad8c19f1f596171f87847099704d7922f3a763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-id-15.12.0.tar.xz">kde-l10n-id-15.12.0</a></td>
   <td align="right">545kB</td>
   <td><tt>1cd27b6ccbcafc48a6fa3f716e32822fb56afb71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-is-15.12.0.tar.xz">kde-l10n-is-15.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0d20f88b17580dfc3bf91883c5258535ca2da867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-it-15.12.0.tar.xz">kde-l10n-it-15.12.0</a></td>
   <td align="right">8.3MB</td>
   <td><tt>383f29b22d373e3d9f466254c85088eaf4e33c0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ja-15.12.0.tar.xz">kde-l10n-ja-15.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a149c5d010ad2eb1d6a68a088966d6a8dd49151a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-kk-15.12.0.tar.xz">kde-l10n-kk-15.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>919e5dbc53c7697b8ca2e91e86b0c1055d674047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-km-15.12.0.tar.xz">kde-l10n-km-15.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4a0d39fb8ab7489a16b8e364cb9e0647bf1c8043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ko-15.12.0.tar.xz">kde-l10n-ko-15.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e25ed062030826eb1aa5907a6b26b94b60d6904d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-lt-15.12.0.tar.xz">kde-l10n-lt-15.12.0</a></td>
   <td align="right">12MB</td>
   <td><tt>c619be1fa1a1f2d48db04cddd67bdcb816b7465f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-lv-15.12.0.tar.xz">kde-l10n-lv-15.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1c69038b5e2e70d515a5a9448e4c637e4c10ddc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-mr-15.12.0.tar.xz">kde-l10n-mr-15.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2589f7257e8dbfb02a5136ebdcaacc1cb8fe3046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-nb-15.12.0.tar.xz">kde-l10n-nb-15.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>900203c27a763a9701b55e5d914a95b5ca041e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-nds-15.12.0.tar.xz">kde-l10n-nds-15.12.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>425d71881b664cfc61d9bd30e889916d9d07aad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-nl-15.12.0.tar.xz">kde-l10n-nl-15.12.0</a></td>
   <td align="right">13MB</td>
   <td><tt>48eb7e71b1ff00dfa7173c6d34ff1fbdd6d93442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-nn-15.12.0.tar.xz">kde-l10n-nn-15.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ba5c50bf6a7696b0418633bd1bcad97c5421361e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-pa-15.12.0.tar.xz">kde-l10n-pa-15.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>aa7a45f04f20c5e588959d2ec0451823f452c5fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-pl-15.12.0.tar.xz">kde-l10n-pl-15.12.0</a></td>
   <td align="right">18MB</td>
   <td><tt>998b7ad2203472c5c518479c5a11df052b69336e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-pt-15.12.0.tar.xz">kde-l10n-pt-15.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>e529587e0196ef6621ad376d9664095d099e1cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-pt_BR-15.12.0.tar.xz">kde-l10n-pt_BR-15.12.0</a></td>
   <td align="right">20MB</td>
   <td><tt>99380333eeee1d2d6c9461275c77fce77fa6a6a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ro-15.12.0.tar.xz">kde-l10n-ro-15.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>af03b01f0e2d93e1e1fd00d475cb639848baa65c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ru-15.12.0.tar.xz">kde-l10n-ru-15.12.0</a></td>
   <td align="right">22MB</td>
   <td><tt>a6ceda8bcccc277054776d555f9db4fad8a6f3bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-sk-15.12.0.tar.xz">kde-l10n-sk-15.12.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>f2e73d728844eed92f6673e2222096e87b932b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-sl-15.12.0.tar.xz">kde-l10n-sl-15.12.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>395ec8ddc2c82f6a08de29f83735fd9ebbdedb6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-sr-15.12.0.tar.xz">kde-l10n-sr-15.12.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>84d1a6792327c3c258e42a9fdb6e9bad7a458a1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-sv-15.12.0.tar.xz">kde-l10n-sv-15.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>25d159bb9decd85d1c115a182e289125f63373d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-tr-15.12.0.tar.xz">kde-l10n-tr-15.12.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>4d9e3e2ea134b6236e3d0206cd9f7d89b1ab7d85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-ug-15.12.0.tar.xz">kde-l10n-ug-15.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1ae0cfecce80cebfb87ce59e4b2a2133cef6071d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-uk-15.12.0.tar.xz">kde-l10n-uk-15.12.0</a></td>
   <td align="right">25MB</td>
   <td><tt>eba23496ad7d15e9d8be3714731269c0f6fa2c6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-wa-15.12.0.tar.xz">kde-l10n-wa-15.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>52f0370e68b62b8c53272bc6df40acac1d265e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-zh_CN-15.12.0.tar.xz">kde-l10n-zh_CN-15.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>77916ab71f5c0169d880cbe4094193ea8e759d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.0/src/kde-l10n/kde-l10n-zh_TW-15.12.0.tar.xz">kde-l10n-zh_TW-15.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5f2fd5e076aa84739bfd005272c4b5a9972be71b</tt></td>
</tr>

</table>
